In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns
import sqlite3

In [5]:
data = sqlite3.connect("database.sqlite")
cur = data.cursor()

In [6]:
cur.execute("select * from player")
obj = cur.fetchall()
obj

[(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187),
 (2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146),
 (3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163),
 (4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198),
 (5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154),
 (6, 27316, 'Aaron Hunt', 158138, '1986-09-04 00:00:00', 182.88, 161),
 (7, 564793, 'Aaron Kuhl', 221280, '1996-01-30 00:00:00', 172.72, 146),
 (8, 30895, 'Aaron Lennon', 152747, '1987-04-16 00:00:00', 165.1, 139),
 (9, 528212, 'Aaron Lennox', 206592, '1993-02-19 00:00:00', 190.5, 181),
 (10, 101042, 'Aaron Meijers', 188621, '1987-10-28 00:00:00', 175.26, 170),
 (11, 23889, 'Aaron Mokoena', 47189, '1980-11-25 00:00:00', 182.88, 181),
 (12, 231592, 'Aaron Mooy', 194958, '1990-09-15 00:00:00', 175.26, 150),
 (13, 163222, 'Aaron Muirhead', 213568, '1990-08-30 00:00:00', 187.96, 168),
 (14, 40719, 'Aaron Niguez', 183853, '1989-04-26 00:00:00', 170.18, 143),
 (15, 75489, 'Aaron Ramsey', 186561, '1990-12-26 00:00:00', 177.8, 154),
 (16, 597948, 'Aaron Splaine', 226014, '1996-10-13 00:00:00', 172.72, 163),
 (17,
  161644,
  'Aaron Taylor-Sinclair',
  213569,
  '1991-04-08 00:00:00',
  182.88,
  176),
 (18, 23499, 'Aaron Wilbraham', 2335, '1979-10-21 00:00:00', 190.5, 159),
 (19, 120919, 'Aatif Chahechouhe', 187939, '1986-07-02 00:00:00', 175.26, 150),
 (20, 46447, 'Abasse Ba', 156626, '1976-07-12 00:00:00', 187.96, 185),
 (21, 167027, 'Abdelaziz Barrada', 192274, '1989-06-19 00:00:00', 177.8, 161),
 (22,
  245653,
  'Abdelfettah Boukhriss',
  202425,
  '1986-10-22 00:00:00',
  185.42,
  161),
 (23,
  128456,
  'Abdelhamid El Kaoutari',
  188145,
  '1990-03-17 00:00:00',
  180.34,
  161),
 (24, 42664, 'Abdelkader Ghezzal', 178063, '1984-12-05 00:00:00', 182.88, 172),
 (25, 425950, 'Abdellah Zoubir', 212934, '1991-12-05 00:00:00', 180.34, 161),
 (26, 38423, 'Abdelmajid Oulmers', 52782, '1978-09-12 00:00:00', 172.72, 143),
 (27, 3264, 'Abdelmalek Cherrad', 51868, '1981-01-14 00:00:00', 185.42, 165),
 (28,
  467485,
  'Abdelmalek El Hasnaoui',
  209399,
  '1994-02-09 00:00:00',
  180.34,
  159),
 (29,
  306735,
  'Abdelouahed Chakhsi',
  210504,
  '1986-10-01 00:00:00',
  182.88,
  170),
 (30, 41659, 'Abderrazak Jadid', 149241, '1983-06-01 00:00:00', 177.8, 157),
 (31, 31684, 'Abdeslam Ouaddou', 33022, '1978-11-01 00:00:00', 190.5, 181),
 (32,
  32637,
  'Abdessalam Benjelloun',
  177295,
  '1985-01-28 00:00:00',
  187.96,
  179),
 (33, 563215, 'Abdou Diallo', 225711, '1996-05-04 00:00:00', 182.88, 159),
 (34, 41093, 'Abdou Traore', 187048, '1988-01-17 00:00:00', 180.34, 174),
 (35, 564712, 'Abdoul Ba', 225050, '1994-02-08 00:00:00', 200.66, 212),
 (36, 67334, 'Abdoul Karim Yoda', 188232, '1988-10-25 00:00:00', 182.88, 161),
 (37,
  173955,
  'Abdoul Razzagui Camara',
  193953,
  '1990-02-20 00:00:00',
  177.8,
  157),
 (38, 39562, 'Abdoulay Konko', 161999, '1984-03-09 00:00:00', 182.88, 157),
 (39, 191784, 'Abdoulaye Ba', 204826, '1991-01-01 00:00:00', 198.12, 174),
 (40, 210400, 'Abdoulaye Bamba', 199313, '1990-04-25 00:00:00', 182.88, 150),
 (41, 201915, 'Abdoulaye Diaby', 202330, '1991-05-21 00:00:00', 172.72, 154),
 (42,
  194479,
  'Abdoulaye Diallo Sadio,22',
  204171,
  '1990-12-28 00:00:00',
  182.88,
  168),
 (43, 189181, 'Abdoulaye Diallo', 197233, '1992-03-30 00:00:00', 187.96, 174),
 (44,
  352887,
  'Abdoulaye Doucoure',
  208135,
  '1993-01-01 00:00:00',
  182.88,
  165),
 (45, 40005, 'Abdoulaye Faye', 100329, '1978-02-26 00:00:00', 187.96, 218),
 (46, 409003, 'Abdoulaye Keita', 212280, '1994-01-05 00:00:00', 175.26, 165),
 (47, 37280, 'Abdoulaye Meite', 41745, '1980-10-06 00:00:00', 185.42, 181),
 (48, 439366, 'Abdoulaye Toure', 210450, '1994-03-03 00:00:00', 187.96, 170),
 (49,
  148827,
  'Abdoulwahid Sissoko',
  189568,
  '1990-03-20 00:00:00',
  182.88,
  165),
 (50,
  173011,
  'Abdourahman Dampha',
  197901,
  '1991-12-27 00:00:00',
  182.88,
  168),
 (51, 419681, 'Abdul Aziz Tetteh', 190193, '1989-02-10 00:00:00', 182.88, 190),
 (52,
  196947,
  'Abdul Majeed Waris',
  198420,
  '1991-09-19 00:00:00',
  172.72,
  157),
 (53, 89405, 'Abdul Osman', 184768, '1987-02-27 00:00:00', 182.88, 154),
 (54, 324910, 'Abdul Rahman Baba', 209620, '1994-07-02 00:00:00', 177.8, 154),
 (55, 67952, 'Abdul-Yakinu Iddi', 180316, '1986-05-25 00:00:00', 172.72, 146),
 (56, 31012, 'Abdulkader Keita', 157191, '1981-08-06 00:00:00', 182.88, 172),
 (57, 176301, 'Abdulla Fatadi', 210766, '1985-11-02 00:00:00', 175.26, 172),
 (58,
  307227,
  'Abdullah Al Hafith',
  207716,
  '1992-12-25 00:00:00',
  187.96,
  165),
 (59, 176302, 'Abdullah Omar', 192670, '1987-01-01 00:00:00', 175.26, 157),
 (60, 525595, 'Abdullahi Shehu', 229026, '1993-03-12 00:00:00', 180.34, 159),
 (61, 24385, 'Abel Aguilar', 177974, '1985-01-06 00:00:00', 185.42, 176),
 (62, 29904, 'Abel Gomez', 111085, '1982-02-20 00:00:00', 182.88, 165),
 (63, 105548, 'Abel Hernandez', 188484, '1990-08-08 00:00:00', 185.42, 161),
 (64, 172875, 'Abel Issa Camara', 208005, '1990-01-06 00:00:00', 185.42, 179),
 (65, 302985, 'Abel Khaled', 207541, '1992-11-09 00:00:00', 180.34, 148),
 (66, 240556, 'Abel Tamata', 202153, '1990-12-05 00:00:00', 182.88, 170),
 (67, 40938, 'Abel', 17880, '1978-12-22 00:00:00', 177.8, 165),
 (68, 37422, 'Abella Perez Damia', 159580, '1982-04-15 00:00:00', 187.96, 174),
 (69, 114503, 'Abiola Dauda', 187175, '1988-02-03 00:00:00', 180.34, 165),
 (70, 27277, 'Abou Diaby', 163423, '1986-05-11 00:00:00', 193.04, 168),
 (71, 181344, 'Aboubacar Tandia', 138675, '1983-10-05 00:00:00', 193.04, 185),
 (72, 581141, 'Aboubakar Kamara', 225541, '1995-03-07 00:00:00', 177.8, 168),
 (73, 80592, 'Aboubakar Oumarou', 218548, '1987-04-01 00:00:00', 182.88, 168),
 (74, 165706, 'Abraham Gonzalez', 159566, '1985-07-16 00:00:00', 177.8, 176),
 (75,
  210453,
  'Abraham Guie Gneki',
  199724,
  '1986-07-25 00:00:00',
  180.34,
  154),
 (76, 208635, 'Abraham Kudemor', 202600, '1985-02-25 00:00:00', 182.88, 179),
 (77, 213695, 'Abraham Minero', 198840, '1986-02-22 00:00:00', 175.26, 157),
 (78, 33715, 'Abraham Paz Cruz', 114663, '1979-03-14 00:00:00', 177.8, 165),
 (79, 41489, 'Achille Coser', 163901, '1982-07-14 00:00:00', 185.42, 174),
 (80, 25571, 'Achille Emana', 112392, '1982-06-05 00:00:00', 180.34, 170),
 (81, 660145, 'Achille Vaarnold', 229149, '1996-01-26 00:00:00', 175.26, 157),
 (82, 45960, 'Achmed Ahahaoui', 171405, '1983-12-06 00:00:00', 177.8, 152),
 (83, 293235, 'Achraf Lazaar', 206161, '1992-09-22 00:00:00', 182.88, 168),
 (84, 34487, 'Aco Stojkov', 140730, '1983-04-29 00:00:00', 177.8, 165),
 (85, 26331, 'Adailton', 158505, '1983-04-14 00:00:00', 190.5, 187),
 (86, 41749, 'Adailton', 4769, '1977-01-24 00:00:00', 175.26, 161),
 (87,
  495841,
  'Adalberto Penaranda',
  231638,
  '1997-05-31 00:00:00',
  182.88,
  172),
 (88, 519835, 'Adam Armstrong', 221841, '1997-02-10 00:00:00', 172.72, 152),
 (89, 68840, 'Adam Banas', 189047, '1982-12-25 00:00:00', 185.42, 174),
 (90, 27534, 'Adam Bodzek', 177129, '1985-09-07 00:00:00', 182.88, 174),
 (91, 157303, 'Adam Bogdan', 184585, '1987-09-27 00:00:00', 193.04, 198),
 (92, 563198, 'Adam Brown', 224355, '1995-06-09 00:00:00', 177.8, 141),
 (93, 557396, 'Adam Buksa', 224438, '1996-07-12 00:00:00', 190.5, 172),
 (94, 365666, 'Adam Campbell', 206567, '1995-01-01 00:00:00', 170.18, 161),
 (95, 180197, 'Adam Collin', 53363, '1984-12-09 00:00:00', 190.5, 172),
 (96, 310346, 'Adam Cummins', 200743, '1993-03-03 00:00:00', 187.96, 172),
 (97, 68962, 'Adam Danch', 180440, '1987-12-15 00:00:00', 182.88, 179),
 (98, 429870, 'Adam Deja', 212988, '1993-06-24 00:00:00', 185.42, 181),
 (99, 23133, 'Adam Drury', 101882, '1978-08-29 00:00:00', 180.34, 161),
 (100, 420209, 'Adam Drury', 205162, '1993-09-09 00:00:00', 177.8, 152),
 (101, 308280, 'Adam Duda', 208345, '1991-04-29 00:00:00', 187.96, 170),
 (102, 361712, 'Adam Dzwigala', 211362, '1995-09-25 00:00:00', 185.42, 176),
 (103, 38617, 'Adam Federici', 164853, '1985-01-31 00:00:00', 187.96, 198),
 (104, 173993, 'Adam Fraczczak', 209453, '1987-08-07 00:00:00', 182.88, 168),
 (105, 277313, 'Adam Gyurcso', 209439, '1991-03-06 00:00:00', 180.34, 132),
 (106, 40568, 'Adam Hammill', 169568, '1988-01-25 00:00:00', 177.8, 163),
 (107, 281079, 'Adam Henley', 205485, '1994-06-14 00:00:00', 177.8, 170),
 (108, 89240, 'Adam Hlousek', 181205, '1988-12-20 00:00:00', 187.96, 168),
 (109, 24159, 'Adam Johnson', 165740, '1987-07-14 00:00:00', 175.26, 139),
 (110, 414208, 'Adam King', 212388, '1995-10-11 00:00:00', 180.34, 165),
 (111, 43317, 'Adam Kokoszka', 174665, '1986-10-06 00:00:00', 187.96, 181),
 (112, 37234, 'Adam Lallana', 180819, '1988-05-10 00:00:00', 172.72, 161),
 (113, 24952, 'Adam Le Fondre', 163828, '1986-12-02 00:00:00', 175.26, 161),
 (114, 209372, 'Adam Maher', 200223, '1993-07-20 00:00:00', 175.26, 143),
 (115, 69518, 'Adam Marciniak', 179055, '1988-09-28 00:00:00', 182.88, 181),
 (116, 478447, 'Adam Marusic', 224031, '1992-10-17 00:00:00', 177.8, 179),
 (117, 500502, 'Adam Masina', 225410, '1994-01-02 00:00:00', 187.96, 172),
 (118, 170593, 'Adam Matthews', 193768, '1992-01-13 00:00:00', 177.8, 157),
 (119, 185336, 'Adam Matuschyk', 192471, '1989-02-14 00:00:00', 180.34, 165),
 (120, 69249, 'Adam Mojta', 179710, '1986-06-30 00:00:00', 177.8, 154),
 (121, 407308, 'Adam Morgan', 205864, '1994-04-21 00:00:00', 177.8, 157),
 (122, 12245, 'Adam Nemec', 184433, '1985-09-02 00:00:00', 190.5, 198),
 (123, 684978, 'Adam Ounas', 231242, '1996-11-11 00:00:00', 172.72, 141),
 (124, 306507, 'Adam Pazio', 211185, '1992-09-27 00:00:00', 182.88, 159),
 (125, 73078, 'Adam Pinter', 201176, '1988-06-12 00:00:00', 190.5, 185),
 (126, 31916, 'Adam Rooney', 176941, '1988-04-21 00:00:00', 177.8, 172),
 (127, 555649, 'Adam Ryczkowski', 224303, '1997-04-30 00:00:00', 177.8, 157),
 (128, 158861, 'Adam Sarota', 192323, '1988-12-28 00:00:00', 182.88, 161),
 (129, 160447, 'Adam Smith', 190885, '1991-04-29 00:00:00', 180.34, 179),
 (130, 36774, 'Adam Szalai', 184789, '1987-12-09 00:00:00', 193.04, 201),
 (131, 243068, 'Adam Taggart', 202676, '1993-06-02 00:00:00', 182.88, 152),
 (132, 71359, 'Adam Vass', 170046, '1988-09-09 00:00:00', 180.34, 165),
 (133, 495942, 'Adam Waszkiewicz', 219695, '1993-12-06 00:00:00', 182.88, 174),
 (134, 287224, 'Adama Ba', 205947, '1993-08-27 00:00:00', 177.8, 150),
 (135, 26136, 'Adama Coulibaly', 5440, '1980-09-10 00:00:00', 185.42, 183),
 (136, 164360, 'Adama Francois', 194952, '1989-11-30 00:00:00', 193.04, 176),
 (137, 357881, 'Adama Soumaoro', 200353, '1992-06-18 00:00:00', 187.96, 205),
 (138, 181211, 'Adama Traore', 193177, '1990-02-03 00:00:00', 170.18, 161),
 (139, 533212, 'Adama Traore', 225151, '1995-06-28 00:00:00', 177.8, 159),
 (140, 103866, 'Adamo Coulibaly', 184368, '1981-08-14 00:00:00', 187.96, 172),
 (141, 47394, 'Adel Taarabt', 179605, '1989-05-24 00:00:00', 180.34, 172),
 (142, 155738, 'Adem Ljajic', 190544, '1991-09-29 00:00:00', 182.88, 163),
 (143, 361710, 'Aderlan Santos', 213374, '1989-04-09 00:00:00', 193.04, 183),
 (144, 568920, 'Aderlan', 223844, '1990-08-18 00:00:00', 177.8, 157),
 (145, 45816, 'Adil Auassar', 185171, '1986-10-06 00:00:00', 187.96, 187),
 (146, 37249, 'Adil Chihi', 177615, '1988-02-21 00:00:00', 182.88, 172),
 (147, 40012, 'Adil Hermach', 177713, '1986-06-27 00:00:00', 182.88, 154),
 (148, 77741, 'Adil Rami', 183280, '1985-12-27 00:00:00', 190.5, 194),
 (149, 38612, 'Adil Ramzi', 2115, '1977-07-14 00:00:00', 177.8, 163),
 (150, 164115, 'Adilson', 200794, '1982-01-01 00:00:00', 193.04, 194),
 (151, 276701, 'Adis Jahovic', 212107, '1987-03-18 00:00:00', 190.5, 198),
 (152, 131409, 'Adlene Guedioura', 183385, '1985-11-12 00:00:00', 177.8, 179),
 (153, 116788, 'Admir Aganovic', 190714, '1986-08-25 00:00:00', 182.88, 176),
 (154, 132844, 'Admir Mehmedi', 188770, '1991-03-16 00:00:00', 182.88, 176),
 (155, 45815, 'Adnan Alisic', 156656, '1984-02-10 00:00:00', 180.34, 157),
 (156, 39875, 'Adnan Custovic', 159339, '1978-04-16 00:00:00', 185.42, 183),
 (157, 449241, 'Adnan Januzaj', 208330, '1995-02-05 00:00:00', 182.88, 165),
 (158, 43049, 'Adnan Mravac', 139305, '1982-04-10 00:00:00', 193.04, 185),
 (159,
  261599,
  'Adnane Tighadouini',
  203377,
  '1992-11-30 00:00:00',
  177.8,
  159),
 (160, 154950, 'Adrian Basta', 189658, '1988-12-01 00:00:00', 180.34, 172),
 (161, 182107, 'Adrian Blad', 194769, '1991-04-16 00:00:00', 165.1, 137),
 (162, 121643, 'Adrian Chomiuk', 186629, '1988-06-23 00:00:00', 182.88, 179),
 (163, 102572, 'Adrian Colunga', 171732, '1984-11-17 00:00:00', 172.72, 154),
 (164, 43348, 'Adrian Cristea', 152920, '1983-11-30 00:00:00', 177.8, 161),
 (165,
  113604,
  'Adrian Daniel Calello',
  206628,
  '1987-05-14 00:00:00',
  177.8,
  181),
 (166, 482331, 'Adrian Embarba', 219953, '1992-05-07 00:00:00', 172.72, 146),
 (167, 40501, 'Adrian Gonzalez', 178616, '1988-05-25 00:00:00', 182.88, 168),
 (168, 178574, 'Adrian Gunino', 193600, '1989-02-03 00:00:00', 167.64, 141),
 (169,
  78537,
  'Adrian Klepczynski',
  165003,
  '1981-04-01 00:00:00',
  187.96,
  165),
 (170, 45744, 'Adrian Lopez', 173818, '1988-01-08 00:00:00', 182.88, 161),
 (171, 23358, 'Adrian Mariappa', 172953, '1986-10-03 00:00:00', 177.8, 179),
 (172, 571685, 'Adrian Marin', 224921, '1997-01-09 00:00:00', 180.34, 161),
 (173, 105526, 'Adrian Mrowiec', 148572, '1983-12-01 00:00:00', 190.5, 185),
 (174, 39311, 'Adrian Mutu', 184410, '1979-08-01 00:00:00', 182.88, 168),
 (175, 112976, 'Adrian Nikci', 187850, '1989-11-10 00:00:00', 182.88, 168),
 (176,
  116881,
  'Adrian Paluchowski',
  188910,
  '1987-08-19 00:00:00',
  180.34,
  165),
 (177, 239253, 'Adrian Rakowski', 201170, '1990-10-07 00:00:00', 180.34, 154),
 (178, 50345, 'Adrian Ramos', 176619, '1986-01-22 00:00:00', 185.42, 165),
 (179,
  323385,
  'Adrian Ricardo Centurion',
  211267,
  '1993-01-19 00:00:00',
  175.26,
  143),
 (180, 42431, 'Adrian Ricchiuti', 169383, '1978-06-30 00:00:00', 167.64, 159),
 (181,
  183482,
  'Adrian Sardinero Corpa',
  195012,
  '1990-10-13 00:00:00',
  180.34,
  172),
 (182, 168047, 'Adrian Stoian', 192072, '1991-02-11 00:00:00', 177.8, 146),
 (183, 114790, 'Adrian Winter', 184549, '1986-07-08 00:00:00', 177.8, 165),
 (184, 169756, 'Adrian', 194911, '1987-01-31 00:00:00', 187.96, 170),
 (185,
  167648,
  'Adriano De Pierro',
  193351,
  '1991-01-11 00:00:00',
  185.42,
  170),
 (186, 280969, 'Adriano Facchini', 205122, '1983-03-12 00:00:00', 187.96, 172),
 (187,
  39190,
  'Adriano Ferreira Pinto',
  163653,
  '1979-12-10 00:00:00',
  177.8,
  179),
 (188,
  172172,
  'Adriano Jose de Lara',
  193874,
  '1987-12-09 00:00:00',
  185.42,
  190),
 (189,
  39199,
  'Adriano Pereira da Silva',
  135530,
  '1982-04-03 00:00:00',
  180.34,
  165),
 (190, 38122, 'Adriano Russo', 137419, '1987-06-06 00:00:00', 185.42, 159),
 (191, 121923, 'Adriano', 183243, '1982-01-21 00:00:00', 175.26, 168),
 (192, 30690, 'Adriano', 106019, '1982-02-17 00:00:00', 187.96, 194),
 (193, 33992, 'Adriano', 164082, '1984-10-26 00:00:00', 172.72, 161),
 (194, 41109, 'Adriano', 152769, '1980-01-29 00:00:00', 182.88, 176),
 (195, 171737, 'Adrien Goni', 191221, '1988-08-25 00:00:00', 172.72, 146),
 (196, 447107, 'Adrien Hunou', 215245, '1994-01-19 00:00:00', 175.26, 137),
 (197, 352879, 'Adrien Rabiot', 210008, '1995-04-03 00:00:00', 187.96, 157),
 (198, 557353, 'Adrien Rawyler', 224823, '1993-06-13 00:00:00', 177.8, 150),
 (199, 188413, 'Adrien Regattin', 197081, '1991-08-22 00:00:00', 167.64, 146),
 (200, 40930, 'Adrien Silva', 184826, '1989-03-15 00:00:00', 175.26, 152),
 (201, 317062, 'Adrien Thomasson', 208787, '1993-12-10 00:00:00', 177.8, 159),
 (202, 242719, 'Adrien Trebel', 203886, '1991-03-03 00:00:00', 172.72, 159),
 (203, 263276, 'Adryan', 205008, '1994-08-10 00:00:00', 175.26, 157),
 (204, 35608, 'Afonso Alves,24', 53056, '1981-01-30 00:00:00', 185.42, 163),
 (205, 361711, 'Afonso', 223293, '1993-01-06 00:00:00', 170.18, 139),
 (206, 213366, 'Afriyie Acquah', 201223, '1992-01-05 00:00:00', 177.8, 154),
 (207, 441441, 'Ager Aketxe', 213937, '1993-12-30 00:00:00', 175.26, 152),
 (208, 118883, 'Agim Ibraimi', 206396, '1988-08-29 00:00:00', 177.8, 157),
 (209, 119305, 'Agon Mehmeti', 187338, '1989-11-20 00:00:00', 182.88, 174),
 (210, 256728, 'Agustin Vuletich', 219647, '1991-11-03 00:00:00', 185.42, 174),
 (211, 45872, 'Ahmed Ammi', 138539, '1981-01-19 00:00:00', 180.34, 165),
 (212,
  41399,
  'Ahmed Apimah Barusso',
  177529,
  '1984-12-26 00:00:00',
  182.88,
  165),
 (213,
  513810,
  'Ahmed El Messaoudi',
  220968,
  '1995-08-03 00:00:00',
  182.88,
  172),
 (214,
  111930,
  'Ahmed El Mohamady',
  191005,
  '1987-09-09 00:00:00',
  182.88,
  172),
 (215, 561140, 'Ahmed Hamoudi', 219913, '1990-07-21 00:00:00', 172.72, 148),
 (216, 403003, 'Ahmed Hassan Koka', 210259, '1993-03-05 00:00:00', 190.5, 187),
 (217, 297556, 'Ahmed Hegazy', 210648, '1991-01-25 00:00:00', 195.58, 183),
 (218, 41182, 'Ahmed Kantari', 172423, '1985-06-28 00:00:00', 185.42, 181),
 (219, 120917, 'Ahmed Kashi', 188825, '1988-11-18 00:00:00', 177.8, 168),
 (220, 232103, 'Ahmed Musa', 201818, '1992-10-14 00:00:00', 167.64, 152),
 (221, 174597, 'Ahmed Saied Okka', 195843, '1984-03-13 00:00:00', 185.42, 174),
 (222,
  174600,
  'Ahmed Samir Farag',
  163658,
  '1986-05-20 00:00:00',
  182.88,
  190),
 (223, 148953, 'Ahmed Soukouna', 188795, '1990-01-13 00:00:00', 182.88, 168),
 (224, 441166, 'Ahmet Ozcan', 213932, '1995-03-07 00:00:00', 182.88, 165),
 (225, 410141, 'Aidan Connolly', 216204, '1995-08-15 00:00:00', 165.1, 143),
 (226, 582500, 'Aidan Nesbitt', 227760, '1997-02-05 00:00:00', 175.26, 143),
 (227,
  199829,
  'Aiden Chippendale',
  197939,
  '1992-05-24 00:00:00',
  172.72,
  150),
 (228, 32448, 'Aiden McGeady', 155885, '1986-04-04 00:00:00', 177.8, 157),
 (229, 34319, 'Aimo Stefano Diana', 1323, '1978-01-02 00:00:00', 175.26, 163),
 (230, 213737, 'Airam Cabrera', 194076, '1987-10-21 00:00:00', 180.34, 172),
 (231, 133535, 'Airton', 187954, '1990-02-21 00:00:00', 180.34, 170),
 (232, 128843, 'Aislan', 188132, '1988-01-11 00:00:00', 193.04, 198),
 (233, 715642, 'Aissa Laidouni', 233642, '1996-12-13 00:00:00', 182.88, 161),
 (234, 210683, 'Aissa Mandi', 201143, '1991-10-22 00:00:00', 182.88, 172),
 (235, 185301, 'Aitor Nunez', 193364, '1987-10-02 00:00:00', 177.8, 154),
 (236, 33993, 'Aitor Ocio', 9639, '1976-11-28 00:00:00', 187.96, 170),
 (237, 24160, 'Aiyegbeni Yakubu', 109693, '1982-11-22 00:00:00', 182.88, 183),
 (238, 243127, 'Akaki Gogia', 202271, '1992-01-18 00:00:00', 177.8, 161),
 (239, 20771, 'Akihiro Ienaga', 201971, '1986-06-13 00:00:00', 172.72, 154),
 (240, 244128, 'Akoete Eninful', 202373, '1992-07-21 00:00:00', 182.88, 154),
 (241, 23163, 'Akos Buzsaky', 172176, '1982-05-07 00:00:00', 180.34, 163),
 (242, 31255, 'Akpo Sodje', 151473, '1981-01-31 00:00:00', 187.96, 176),
 (243, 127255, 'Akwetey Mensah', 198781, '1983-04-15 00:00:00', 172.72, 163),
 (244, 33451, 'Alaeddine Yahia', 53027, '1981-09-26 00:00:00', 187.96, 179),
 (245, 26085, 'Alain Cantareil', 169072, '1983-08-15 00:00:00', 177.8, 154),
 (246, 34268, 'Alain Nef', 49939, '1982-02-06 00:00:00', 190.5, 194),
 (247,
  182847,
  'Alain Pierre Mendy',
  209352,
  '1989-11-17 00:00:00',
  182.88,
  159),
 (248, 36785, 'Alain Rochat', 52778, '1983-02-01 00:00:00', 182.88, 172),
 (249, 67393, 'Alain Schultz', 138421, '1983-02-17 00:00:00', 175.26, 165),
 (250, 34417, 'Alain Traore', 178036, '1988-12-31 00:00:00', 175.26, 161),
 (251, 95220, 'Alain Wiss', 184261, '1990-08-21 00:00:00', 180.34, 148),
 (252, 32693, 'Alan Combe', 4246, '1974-04-03 00:00:00', 185.42, 172),
 (253, 32547, 'Alan Gow', 140307, '1982-10-09 00:00:00', 182.88, 154),
 (254, 37085, 'Alan Haydock', 36846, '1976-01-13 00:00:00', 175.26, 159),
 (255, 267728, 'Alan Henrique', 229983, '1991-06-19 00:00:00', 187.96, 181),
 (256, 32870, 'Alan Hutton', 139533, '1984-11-30 00:00:00', 185.42, 161),
 (257, 92935, 'Alan Kardec', 184858, '1989-01-12 00:00:00', 187.96, 176),

In [43]:
df = pd.DataFrame(obj,columns=["sno","id","name","runs","dob","avg","highest"])
df.head()

,sno,id,name,runs,dob,avg,highest
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [44]:
df

,sno,id,name,runs,dob,avg,highest
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sno      11060 non-null  int64
 1   id       11060 non-null  int64
 2   name     11060 non-null  object
 3   runs     11060 non-null  int64
 4   dob      11060 non-null  object
 5   avg      11060 non-null  float64
 6   highest  11060 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 605.0+ KB

In [47]:
cur.execute("select * from country")
country = cur.fetchall()
country

[(1, 'Belgium'),
 (1729, 'England'),
 (4769, 'France'),
 (7809, 'Germany'),
 (10257, 'Italy'),
 (13274, 'Netherlands'),
 (15722, 'Poland'),
 (17642, 'Portugal'),
 (19694, 'Scotland'),
 (21518, 'Spain'),
 (24558, 'Switzerland')]

In [50]:
country = pd.DataFrame(country,columns = ["cour_id","country"])

In [51]:
country

    cour_id      country
0         1      Belgium
1      1729      England
2      4769       France
3      7809      Germany
4     10257        Italy
5     13274  Netherlands
6     15722       Poland
7     17642     Portugal
8     19694     Scotland
9     21518        Spain
10    24558  Switzerland

In [60]:
cur.execute('select name from country')
id = cur.fetchall()
id

[('Belgium',),
 ('England',),
 ('France',),
 ('Germany',),
 ('Italy',),
 ('Netherlands',),
 ('Poland',),
 ('Portugal',),
 ('Scotland',),
 ('Spain',),
 ('Switzerland',)]

In [57]:
cur.execute("pragma table_info('country')")
info = cur.fetchall()
info

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0)]

In [61]:
cur.execute("pragma table_info('player')")
info = cur.fetchall()
info

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'player_api_id', 'INTEGER', 0, None, 0),
 (2, 'player_name', 'TEXT', 0, None, 0),
 (3, 'player_fifa_api_id', 'INTEGER', 0, None, 0),
 (4, 'birthday', 'TEXT', 0, None, 0),
 (5, 'height', 'INTEGER', 0, None, 0),
 (6, 'weight', 'INTEGER', 0, None, 0)]

In [62]:
cur.execute('select * from player where player_name like "Aaron%"')
name = cur.fetchall()
name

[(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187),
 (2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146),
 (3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163),
 (4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198),
 (5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154),
 (6, 27316, 'Aaron Hunt', 158138, '1986-09-04 00:00:00', 182.88, 161),
 (7, 564793, 'Aaron Kuhl', 221280, '1996-01-30 00:00:00', 172.72, 146),
 (8, 30895, 'Aaron Lennon', 152747, '1987-04-16 00:00:00', 165.1, 139),
 (9, 528212, 'Aaron Lennox', 206592, '1993-02-19 00:00:00', 190.5, 181),
 (10, 101042, 'Aaron Meijers', 188621, '1987-10-28 00:00:00', 175.26, 170),
 (11, 23889, 'Aaron Mokoena', 47189, '1980-11-25 00:00:00', 182.88, 181),
 (12, 231592, 'Aaron Mooy', 194958, '1990-09-15 00:00:00', 175.26, 150),
 (13, 163222, 'Aaron Muirhead', 213568, '1990-08-30 00:00:00', 187.96, 168),
 (14, 40719, 'Aaron Niguez', 183853, '1989-04-26 00:00:00', 170.18, 143),
 (15, 75489, 'Aaron Ramsey', 186561, '1990-12-26 00:00:00', 177.8, 154),
 (16, 597948, 'Aaron Splaine', 226014, '1996-10-13 00:00:00', 172.72, 163),
 (17,
  161644,
  'Aaron Taylor-Sinclair',
  213569,
  '1991-04-08 00:00:00',
  182.88,
  176),
 (18, 23499, 'Aaron Wilbraham', 2335, '1979-10-21 00:00:00', 190.5, 159)]

In [66]:
cur.execute('select weight from player where player_name like "Aaron%"')
name = cur.fetchall()
name[9]

(170,)

In [68]:
cur.execute("select count(*) from player")
rows = cur.fetchall()
rows

[(11060,)]

In [76]:
cur.execute("select player_name from player order by player_api_id desc limit 3")
desc = cur.fetchall()
for i in desc:
    print(i[0])

Alexandre Azevedo
Rees Greenwood
Fynn Arkenberg

In [17]:
cur.execute("select * from player where birthday like '1992%' and weight == 150")
two = cur.fetchall()
two

[(227,
  199829,
  'Aiden Chippendale',
  197939,
  '1992-05-24 00:00:00',
  172.72,
  150),
 (409, 213500, 'Alex Fernandez', 199247, '1992-10-15 00:00:00', 180.34, 150),
 (431, 262753, 'Alex Schalk', 203447, '1992-08-07 00:00:00', 170.18, 150),
 (970, 179411, 'Arnaud Souquet', 193470, '1992-02-12 00:00:00', 177.8, 150),
 (1738, 242887, 'Christian Atsu', 205601, '1992-01-10 00:00:00', 172.72, 150),
 (2558, 210126, 'Dennis Appiah', 199191, '1992-06-09 00:00:00', 177.8, 150),
 (2769,
  178261,
  'Dorian Dessoleil',
  209673,
  '1992-08-07 00:00:00',
  182.88,
  150),
 (2822, 277827, 'Dylan De Belder', 204619, '1992-04-03 00:00:00', 182.88, 150),
 (3316,
  265123,
  'Fernando Canesin Matos',
  199651,
  '1992-02-27 00:00:00',
  175.26,
  150),
 (4163, 207523, 'Hector Quinones', 211499, '1992-03-17 00:00:00', 177.8, 150),
 (4515, 143793, 'Jack Wilshere', 189461, '1992-01-01 00:00:00', 172.72, 150),
 (5505, 364290, 'Julian Michel', 212169, '1992-02-19 00:00:00', 180.34, 150),
 (6023,
  231614,
  'Leandro Di Gregorio',
  212141,
  '1992-03-18 00:00:00',
  172.72,
  150),
 (6089, 248150, 'Leon van Dijk', 204130, '1992-03-09 00:00:00', 177.8, 150),
 (6636,
  206508,
  'Marcelo Brozovic',
  216352,
  '1992-11-16 00:00:00',
  180.34,
  150),
 (7411, 190801, 'Michal Chrapek', 194059, '1992-04-03 00:00:00', 175.26, 150),
 (7785, 210128, 'Nampalys Mendy', 198861, '1992-06-23 00:00:00', 167.64, 150),
 (7867, 19533, 'Neymar', 190871, '1992-02-05 00:00:00', 175.26, 150),
 (8115, 198082, 'Oliver Buff', 198638, '1992-08-03 00:00:00', 175.26, 150),
 (8522, 243649, 'Pedro Ramirez', 220765, '1992-08-24 00:00:00', 165.1, 150),
 (8608,
  184536,
  'Philippe Coutinho',
  189242,
  '1992-06-12 00:00:00',
  170.18,
  150),
 (8986, 462004, 'Rico Strieder', 228644, '1992-07-06 00:00:00', 175.26, 150),
 (9281, 282678, 'Ruben Pardo', 204523, '1992-10-22 00:00:00', 182.88, 150),
 (9496, 207642, 'Santiago Arias', 204259, '1992-01-13 00:00:00', 175.26, 150),
 (9546, 127134, 'Scott Robinson', 198373, '1992-03-12 00:00:00', 167.64, 150),
 (9893, 278848, 'Stanley Elbers', 204489, '1992-05-14 00:00:00', 172.72, 150),
 (10136, 166653, 'Takashi Usami', 191388, '1992-05-06 00:00:00', 177.8, 150),
 (10524, 451941, 'Unai Garcia', 215569, '1992-09-03 00:00:00', 177.8, 150),
 (10685,
  282009,
  'Vitor Goncalves',
  218736,
  '1992-03-29 00:00:00',
  175.26,
  150)]

In [18]:
cur.execute("pragma table_info('Player_Attributes')")
info = cur.fetchall()
info

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'player_fifa_api_id', 'INTEGER', 0, None, 0),
 (2, 'player_api_id', 'INTEGER', 0, None, 0),
 (3, 'date', 'TEXT', 0, None, 0),
 (4, 'overall_rating', 'INTEGER', 0, None, 0),
 (5, 'potential', 'INTEGER', 0, None, 0),
 (6, 'preferred_foot', 'TEXT', 0, None, 0),
 (7, 'attacking_work_rate', 'TEXT', 0, None, 0),
 (8, 'defensive_work_rate', 'TEXT', 0, None, 0),
 (9, 'crossing', 'INTEGER', 0, None, 0),
 (10, 'finishing', 'INTEGER', 0, None, 0),
 (11, 'heading_accuracy', 'INTEGER', 0, None, 0),
 (12, 'short_passing', 'INTEGER', 0, None, 0),
 (13, 'volleys', 'INTEGER', 0, None, 0),
 (14, 'dribbling', 'INTEGER', 0, None, 0),
 (15, 'curve', 'INTEGER', 0, None, 0),
 (16, 'free_kick_accuracy', 'INTEGER', 0, None, 0),
 (17, 'long_passing', 'INTEGER', 0, None, 0),
 (18, 'ball_control', 'INTEGER', 0, None, 0),
 (19, 'acceleration', 'INTEGER', 0, None, 0),
 (20, 'sprint_speed', 'INTEGER', 0, None, 0),
 (21, 'agility', 'INTEGER', 0, None, 0),
 (22, 'reactions', 'INTEGER', 0, None, 0),
 (23, 'balance', 'INTEGER', 0, None, 0),
 (24, 'shot_power', 'INTEGER', 0, None, 0),
 (25, 'jumping', 'INTEGER', 0, None, 0),
 (26, 'stamina', 'INTEGER', 0, None, 0),
 (27, 'strength', 'INTEGER', 0, None, 0),
 (28, 'long_shots', 'INTEGER', 0, None, 0),
 (29, 'aggression', 'INTEGER', 0, None, 0),
 (30, 'interceptions', 'INTEGER', 0, None, 0),
 (31, 'positioning', 'INTEGER', 0, None, 0),
 (32, 'vision', 'INTEGER', 0, None, 0),
 (33, 'penalties', 'INTEGER', 0, None, 0),
 (34, 'marking', 'INTEGER', 0, None, 0),
 (35, 'standing_tackle', 'INTEGER', 0, None, 0),
 (36, 'sliding_tackle', 'INTEGER', 0, None, 0),
 (37, 'gk_diving', 'INTEGER', 0, None, 0),
 (38, 'gk_handling', 'INTEGER', 0, None, 0),
 (39, 'gk_kicking', 'INTEGER', 0, None, 0),
 (40, 'gk_positioning', 'INTEGER', 0, None, 0),
 (41, 'gk_reflexes', 'INTEGER', 0, None, 0)]

In [21]:
cur.execute("select count(*) from Player_Attributes")
one = cur.fetchall()
one

[(183978,)]

In [22]:
cur.execute("select count(*) from Player")
one = cur.fetchall()
one

[(11060,)]

In [31]:
cur.execute('select overall_rating,player_name from Player_Attributes inner join Player on Player.id = Player_Attributes.id where Player.height > 150')
join = cur.fetchall()
print(len(join))
join

11060

[(67, 'Aaron Appindangoye'),
 (67, 'Aaron Cresswell'),
 (62, 'Aaron Doran'),
 (61, 'Aaron Galindo'),
 (61, 'Aaron Hughes'),
 (74, 'Aaron Hunt'),
 (74, 'Aaron Kuhl'),
 (73, 'Aaron Lennon'),
 (73, 'Aaron Lennox'),
 (73, 'Aaron Meijers'),
 (73, 'Aaron Mokoena'),
 (74, 'Aaron Mooy'),
 (73, 'Aaron Muirhead'),
 (71, 'Aaron Niguez'),
 (71, 'Aaron Ramsey'),
 (71, 'Aaron Splaine'),
 (70, 'Aaron Taylor-Sinclair'),
 (70, 'Aaron Wilbraham'),
 (70, 'Aatif Chahechouhe'),
 (70, 'Abasse Ba'),
 (70, 'Abdelaziz Barrada'),
 (70, 'Abdelfettah Boukhriss'),
 (69, 'Abdelhamid El Kaoutari'),
 (69, 'Abdelkader Ghezzal'),
 (69, 'Abdellah Zoubir'),
 (69, 'Abdelmajid Oulmers'),
 (69, 'Abdelmalek Cherrad'),
 (69, 'Abdelmalek El Hasnaoui'),
 (69, 'Abdelouahed Chakhsi'),
 (68, 'Abderrazak Jadid'),
 (65, 'Abdeslam Ouaddou'),
 (64, 'Abdessalam Benjelloun'),
 (54, 'Abdou Diallo'),
 (51, 'Abdou Traore'),
 (52, 'Abdoul Ba'),
 (47, 'Abdoul Karim Yoda'),
 (53, 'Abdoul Razzagui Camara'),
 (53, 'Abdoulay Konko'),
 (65, 'Abdoulaye Ba'),
 (66, 'Abdoulaye Bamba'),
 (66, 'Abdoulaye Diaby'),
 (67, 'Abdoulaye Diallo Sadio,22'),
 (68, 'Abdoulaye Diallo'),
 (68, 'Abdoulaye Doucoure'),
 (68, 'Abdoulaye Faye'),
 (69, 'Abdoulaye Keita'),
 (70, 'Abdoulaye Meite'),
 (71, 'Abdoulaye Toure'),
 (70, 'Abdoulwahid Sissoko'),
 (70, 'Abdourahman Dampha'),
 (70, 'Abdul Aziz Tetteh'),
 (70, 'Abdul Majeed Waris'),
 (69, 'Abdul Osman'),
 (69, 'Abdul Rahman Baba'),
 (69, 'Abdul-Yakinu Iddi'),
 (65, 'Abdulkader Keita'),
 (65, 'Abdulla Fatadi'),
 (65, 'Abdullah Al Hafith'),
 (67, 'Abdullah Omar'),
 (67, 'Abdullahi Shehu'),
 (65, 'Abel Aguilar'),
 (65, 'Abel Gomez'),
 (59, 'Abel Hernandez'),
 (59, 'Abel Issa Camara'),
 (69, 'Abel Khaled'),
 (69, 'Abel Tamata'),
 (69, 'Abel'),
 (69, 'Abella Perez Damia'),
 (67, 'Abiola Dauda'),
 (67, 'Abou Diaby'),
 (67, 'Aboubacar Tandia'),
 (67, 'Aboubakar Kamara'),
 (67, 'Aboubakar Oumarou'),
 (67, 'Abraham Gonzalez'),
 (67, 'Abraham Guie Gneki'),
 (67, 'Abraham Kudemor'),
 (68, 'Abraham Minero'),
 (68, 'Abraham Paz Cruz'),
 (70, 'Achille Coser'),
 (69, 'Achille Emana'),
 (69, 'Achille Vaarnold'),
 (69, 'Achmed Ahahaoui'),
 (74, 'Achraf Lazaar'),
 (75, 'Aco Stojkov'),
 (73, 'Adailton'),
 (71, 'Adailton'),
 (71, 'Adalberto Penaranda'),
 (70, 'Adam Armstrong'),
 (70, 'Adam Banas'),
 (69, 'Adam Bodzek'),
 (69, 'Adam Bogdan'),
 (70, 'Adam Brown'),
 (72, 'Adam Buksa'),
 (72, 'Adam Campbell'),
 (72, 'Adam Collin'),
 (73, 'Adam Cummins'),
 (73, 'Adam Danch'),
 (74, 'Adam Deja'),
 (74, 'Adam Drury'),
 (74, 'Adam Drury'),
 (74, 'Adam Duda'),
 (74, 'Adam Dzwigala'),
 (75, 'Adam Federici'),
 (76, 'Adam Fraczczak'),
 (75, 'Adam Gyurcso'),
 (76, 'Adam Hammill'),
 (78, 'Adam Henley'),
 (78, 'Adam Hlousek'),
 (75, 'Adam Johnson'),
 (72, 'Adam King'),
 (71, 'Adam Kokoszka'),
 (75, 'Adam Lallana'),
 (77, 'Adam Le Fondre'),
 (77, 'Adam Maher'),
 (77, 'Adam Marciniak'),
 (77, 'Adam Marusic'),
 (77, 'Adam Masina'),
 (77, 'Adam Matthews'),
 (78, 'Adam Matuschyk'),
 (78, 'Adam Mojta'),
 (78, 'Adam Morgan'),
 (79, 'Adam Nemec'),
 (79, 'Adam Ounas'),
 (79, 'Adam Pazio'),
 (79, 'Adam Pinter'),
 (79, 'Adam Rooney'),
 (79, 'Adam Ryczkowski'),
 (79, 'Adam Sarota'),
 (79, 'Adam Smith'),
 (75, 'Adam Szalai'),
 (75, 'Adam Taggart'),
 (75, 'Adam Vass'),
 (76, 'Adam Waszkiewicz'),
 (78, 'Adama Ba'),
 (78, 'Adama Coulibaly'),
 (75, 'Adama Francois'),
 (76, 'Adama Soumaoro'),
 (77, 'Adama Traore'),
 (73, 'Adama Traore'),
 (61, 'Adamo Coulibaly'),
 (61, 'Adel Taarabt'),
 (61, 'Adem Ljajic'),
 (61, 'Aderlan Santos'),
 (60, 'Aderlan'),
 (60, 'Adil Auassar'),
 (60, 'Adil Chihi'),
 (77, 'Adil Hermach'),
 (77, 'Adil Rami'),
 (78, 'Adil Ramzi'),
 (78, 'Adilson'),
 (78, 'Adis Jahovic'),
 (78, 'Adlene Guedioura'),
 (79, 'Admir Aganovic'),
 (79, 'Admir Mehmedi'),
 (79, 'Adnan Alisic'),
 (79, 'Adnan Custovic'),
 (79, 'Adnan Januzaj'),
 (79, 'Adnan Mravac'),
 (80, 'Adnane Tighadouini'),
 (81, 'Adrian Basta'),
 (81, 'Adrian Blad'),
 (80, 'Adrian Chomiuk'),
 (81, 'Adrian Colunga'),
 (82, 'Adrian Cristea'),
 (82, 'Adrian Daniel Calello'),
 (82, 'Adrian Embarba'),
 (84, 'Adrian Gonzalez'),
 (79, 'Adrian Gunino'),
 (79, 'Adrian Klepczynski'),
 (80, 'Adrian Lopez'),
 (84, 'Adrian Mariappa'),
 (79, 'Adrian Marin'),
 (48, 'Adrian Mrowiec'),
 (48, 'Adrian Mutu'),
 (48, 'Adrian Nikci'),
 (48, 'Adrian Paluchowski'),
 (48, 'Adrian Rakowski'),
 (48, 'Adrian Ramos'),
 (48, 'Adrian Ricardo Centurion'),
 (69, 'Adrian Ricchiuti'),
 (69, 'Adrian Sardinero Corpa'),
 (69, 'Adrian Stoian'),
 (69, 'Adrian Winter'),
 (67, 'Adrian'),
 (67, 'Adriano De Pierro'),
 (67, 'Adriano Facchini'),
 (67, 'Adriano Ferreira Pinto'),
 (67, 'Adriano Jose de Lara'),
 (67, 'Adriano Pereira da Silva'),
 (67, 'Adriano Russo'),
 (67, 'Adriano'),
 (68, 'Adriano'),
 (67, 'Adriano'),
 (68, 'Adriano'),
 (67, 'Adrien Goni'),
 (64, 'Adrien Hunou'),
 (64, 'Adrien Rabiot'),
 (64, 'Adrien Rawyler'),
 (68, 'Adrien Regattin'),
 (70, 'Adrien Silva'),
 (70, 'Adrien Thomasson'),
 (74, 'Adrien Trebel'),
 (72, 'Adryan'),
 (72, 'Afonso Alves,24'),
 (75, 'Afonso'),
 (72, 'Afriyie Acquah'),
 (75, 'Ager Aketxe'),
 (74, 'Agim Ibraimi'),
 (73, 'Agon Mehmeti'),
 (72, 'Agustin Vuletich'),
 (72, 'Ahmed Ammi'),
 (71, 'Ahmed Apimah Barusso'),
 (71, 'Ahmed El Messaoudi'),
 (71, 'Ahmed El Mohamady'),
 (68, 'Ahmed Hamoudi'),
 (68, 'Ahmed Hassan Koka'),
 (66, 'Ahmed Hegazy'),
 (65, 'Ahmed Kantari'),
 (65, 'Ahmed Kashi'),
 (65, 'Ahmed Musa'),
 (65, 'Ahmed Saied Okka'),
 (65, 'Ahmed Samir Farag'),
 (65, 'Ahmed Soukouna'),
 (65, 'Ahmet Ozcan'),
 (65, 'Aidan Connolly'),
 (65, 'Aidan Nesbitt'),
 (65, 'Aiden Chippendale'),
 (63, 'Aiden McGeady'),
 (61, 'Aimo Stefano Diana'),
 (61, 'Airam Cabrera'),
 (60, 'Airton'),
 (60, 'Aislan'),
 (60, 'Aissa Laidouni'),
 (60, 'Aissa Mandi'),
 (62, 'Aitor Nunez'),
 (62, 'Aitor Ocio'),
 (61, 'Aiyegbeni Yakubu'),
 (61, 'Akaki Gogia'),
 (63, 'Akihiro Ienaga'),
 (63, 'Akoete Eninful'),
 (63, 'Akos Buzsaky'),
 (63, 'Akpo Sodje'),
 (70, 'Akwetey Mensah'),
 (70, 'Alaeddine Yahia'),
 (70, 'Alain Cantareil'),
 (71, 'Alain Nef'),
 (71, 'Alain Pierre Mendy'),
 (71, 'Alain Rochat'),
 (71, 'Alain Schultz'),
 (71, 'Alain Traore'),
 (70, 'Alain Wiss'),
 (70, 'Alan Combe'),
 (70, 'Alan Gow'),
 (70, 'Alan Haydock'),
 (69, 'Alan Henrique'),
 (66, 'Alan Hutton'),
 (66, 'Alan Kardec'),
 (66, 'Alan Mannus'),
 (67, 'Alan Martin'),
 (67, 'Alan Maybury'),
 (64, "Alan O'Brien"),
 (65, 'Alan Schons'),
 (66, 'Alan Smith'),
 (67, 'Alan Tate'),
 (62, 'Alan Uryga'),
 (60, 'Alan'),
 (59, 'Alassane Diallo'),
 (59, 'Alassane Plea'),
 (59, 'Alassane Tambe'),
 (82, 'Alassane Toure'),
 (82, 'Alban Joinel'),
 (82, 'Alban Lafont'),
 (82, 'Alban Meha'),
 (82, 'Alban Pnishi'),
 (82, 'Albano Benjamin Bizzarri'),
 (82, 'Albert Baning'),
 (82, 'Albert Bunjaku'),
 (83, 'Albert Crusat'),
 (82, 'Albert Meyong Ze'),
 (81, 'Albert Rafetraniaina'),
 (81, 'Albert Riera'),
 (81, 'Albert Rusnak'),
 (80, 'Albert Streit'),
 (80, 'Alberto Aquilani'),
 (80, 'Alberto Botia'),
 (79, 'Alberto Brignoli'),
 (79, 'Alberto Bueno'),
 (78, 'Alberto Cifuentes'),
 (78, 'Alberto De la Bella'),
 (78, 'Alberto Fontana'),
 (78, 'Alberto Frison,18'),
 (77, 'Alberto Garcia'),
 (77, 'Alberto Gilardino'),
 (77, 'Alberto Giuliatto'),
 (77, 'Alberto Grassi'),
 (77, 'Alberto Guitian'),
 (77, 'Alberto Lopo'),
 (77, 'Alberto Luque,21'),
 (77, 'Alberto Maria Fontana'),
 (77, 'Alberto Moreno'),
 (79, 'Alberto Paloschi'),
 (77, 'Alberto Pelagotti'),
 (75, 'Alberto Perea'),
 (76, 'Alberto Pomini'),
 (77, 'Alberto Regazzoni'),
 (74, 'Alberto Rey'),
 (73, 'Alberto Rivera'),
 (71, 'Alberto Rodriguez'),
 (71, 'Alberto Zapater'),
 (55, 'Albian Ajeti'),
 (55, 'Albin Ebondo'),
 (55, 'Albin Ekdal'),
 (54, 'Albion Avdijaj'),
 (54, 'Aldair'),
 (54, 'Aldin Turkes'),
 (55, 'Aldo Angoula'),
 (55, 'Aldo Kalulu'),
 (64, 'Aldo Pedro Duscher'),
 (64, 'Aleandro Rosi'),
 (64, 'Alec Luyckx'),
 (64, 'Alef'),
 (65, 'Aleix Vidal'),
 (65, 'Alejandro Alfaro'),
 (65, 'Alejandro Alonso'),
 (62, 'Alejandro Arribas'),
 (62, 'Alejandro Bedoya'),
 (62, 'Alejandro Bergantinos'),
 (61, 'Alejandro Daro Gomez'),
 (61, 'Alejandro Dominguez'),
 (61, 'Alejandro Faurlin'),
 (61, 'Alejandro Galvez'),
 (60, 'Alejandro Gonzalez'),
 (62, 'Alejandro Grimaldo Garcia'),
 (62, 'Alejandro Martinuccio'),
 (62, 'Alejandro Pozuelo'),
 (65, 'Aleksandar Bjelica'),
 (65, 'Aleksandar Cavric'),
 (65, 'Aleksandar Damcevski'),
 (67, 'Aleksandar Ignjovski'),
 (65, 'Aleksandar Kolarov'),
 (65, 'Aleksandar Kovacevic'),
 (65, 'Aleksandar Lukovic'),
 (64, 'Aleksandar Miljkovic'),
 (63, 'Aleksandar Mitreski'),
 (63, 'Aleksandar Mitrovic'),
 (63, 'Aleksandar Pantic'),
 (63, 'Aleksandar Pesic'),
 (62, 'Aleksandar Prijovic'),
 (61, 'Aleksandar Rankovic'),
 (61, 'Aleksandar Stevanovic'),
 (62, 'Aleksandar Todorovski'),
 (60, 'Aleksandar Tonev'),
 (62, 'Aleksandar Trajkovski'),
 (60, 'Aleksandar Vasoski'),
 (58, 'Aleksander Jagiello'),
 (50, 'Aleksander Kwiek'),
 (50, 'Aleksander Radosavljevic'),
 (75, 'Aleksander Seliga'),
 (75, 'Aleksandr Hleb'),
 (75, 'Aleksandrs Fertovs'),
 (76, 'Aleksei Kangaskolkka'),
 (77, 'Alen Halilovic'),
 (77, 'Alen Melunovic'),
 (77, 'Alen Stevanovic'),
 (75, 'Alesandro Cordaro'),
 (75, 'Alessandro Agostini'),
 (75, 'Alessandro Bernardini'),
 (75, 'Alessandro Budel'),
 (58, 'Alessandro Carrozza'),
 (55, 'Alessandro Cerigioni'),
 (55, 'Alessandro Ciarrocchi'),
 (55, 'Alessandro Crescenzi'),
 (55, 'Alessandro Damen'),
 (64, 'Alessandro Del Piero'),
 (64, 'Alessandro Diamanti'),
 (66, 'Alessandro Florenzi'),
 (68, 'Alessandro Frara'),
 (66, 'Alessandro Gamberini'),
 (74, 'Alessandro Gazzi'),
 (74, 'Alessandro Grandoni'),
 (75, 'Alessandro Iacobucci'),
 (75, 'Alessandro Iandoli'),
 (74, 'Alessandro Lambrughi'),
 (74, 'Alessandro Longhi'),
 (74, 'Alessandro Lucarelli'),
 (74, 'Alessandro Mangiarrati'),
 (75, 'Alessandro Matri'),
 (76, 'Alessandro Nesta'),
 (66, 'Alessandro Parisi'),
 (65, 'Alessandro Piu'),
 (65, 'Alessandro Potenza'),
 (65, 'Alessandro Riedle'),
 (64, 'Alessandro Rosina'),
 (64, 'Alessandro Schoepf'),
 (73, 'Alessandro Sgrigna'),
 (73, 'Alessio Cerci'),
 (73, 'Alessio Cragno'),
 (73, 'Alessio Da Cruz'),
 (72, 'Alessio Manzoni'),
 (72, 'Alessio Romagnoli'),
 (71, 'Alessio Scarpi'),
 (71, 'Alessio Sestu'),
 (71, 'Alex Baptiste'),
 (71, 'Alex Bruce'),
 (72, 'Alex Bruno'),
 (72, 'Alex Bruno'),
 (70, 'Alex Calderoni'),
 (72, 'Alex Cooper'),
 (72, 'Alex Fernandez'),
 (72, 'Alex Ferrari'),
 (66, 'Alex Goncalves'),
 (66, 'Alex Harris'),
 (56, 'Alex Henshall'),
 (48, 'Alex Iwobi'),
 (48, 'Alex Kacaniklic'),
 (67, 'Alex Kakuba'),
 (67, 'Alex Keddie'),
 (67, 'Alex Lopez'),
 (67, 'Alex MacDonald'),
 (67, 'Alex Manninger'),
 (67, 'Alex Martinez'),
 (67, 'Alex McCarthy'),
 (67, 'Alex Menendez'),
 (68, 'Alex Neil'),
 (68, 'Alex Oxlade-Chamberlain'),
 (68, 'Alex Pearce'),
 (68, 'Alex Perez'),
 (68, 'Alex Pinardi'),
 (69, 'Alex Portillo'),
 (69, 'Alex Sandro'),
 (68, 'Alex Schalk'),
 (72, 'Alex Silva'),
 (72, 'Alex Soares'),
 (73, 'Alex Song'),
 (72, 'Alex Telles'),
 (73, 'Alex Valentini'),
 (71, 'Alex Von Schwedler'),
 (73, 'Alex'),
 (63, 'Alex'),
 (59, 'Alex'),
 (59, 'Alexander Bannink'),
 (59, 'Alexander Baumjohann'),
 (59, 'Alexander Buettner'),
 (59, 'Alexander Bugera'),
 (68, 'Alexander Corryn'),
 (68, 'Alexander Cristovao'),
 (68, 'Alexander Djiku'),
 (70, 'Alexander Dragovic'),
 (70, 'Alexander Esswein'),
 (62, 'Alexander Farnerud'),
 (62, 'Alexander Fransson'),
 (62, 'Alexander Frei'),
 (61, 'Alexander Gerndt'),
 (61, 'Alexander Gonzalez'),
 (63, 'Alexander Hack'),
 (63, 'Alexander Iashvili'),
 (63, 'Alexander Laas'),
 (56, 'Alexander Madlung'),
 (56, 'Alexander Mathisen'),
 (55, 'Alexander Meier'),
 (53, 'Alexander Merkel'),
 (53, 'Alexander Milosevic'),
 (53, 'Alexander Ring'),
 (63, 'Alexander Scholz'),
 (63, 'Alexander Schwolow'),
 (63, 'Alexander Soerloth'),
 (63, 'Alexander Stephan'),
 (69, 'Alexander Tettey'),
 (71, 'Alexandr Kerzhakov'),
 (66, 'Alexandre Alphonse'),
 (63, 'Alexandre Azevedo'),
 (58, 'Alexandre Barthe'),
 (59, 'Alexandre Bonnet'),
 (59, 'Alexandre Coeff'),
 (63, 'Alexandre Cuvillier'),
 (63, "Alexandre D'Acol"),
 (73, 'Alexandre Di Gregorio'),
 (77, 'Alexandre Geijo'),
 (77, 'Alexandre Hauw'),
 (78, 'Alexandre Lacazette'),
 (78, 'Alexandre Letellier'),
 (None, 'Alexandre Licata'),
 (61, 'Alexandre Mendy'),
 (56, 'Alexandre Pasche'),
 (66, 'Alexandre Pato'),
 (66, 'Alexandre Quennoz'),
 (72, 'Alexandre Raineau'),
 (59, 'Alexandre Silva'),
 (66, 'Alexandros Tziolis'),
 (65, 'Alexandros Tzorvas'),
 (64, 'Alexandru Maxim'),
 (64, 'Alexei Jr Eremenko'),
 (62, 'Alexi Peuget'),
 (62, 'Alexis Alegue Elandi'),
 (62, 'Alexis Blin'),
 (62, 'Alexis De Sart'),
 (62, 'Alexis Norambuena Ruz'),
 (62, 'Alexis Rolin'),
 (70, 'Alexis Sanchez'),
 (70, 'Alexis Thebaux'),
 (70, 'Alexis'),
 (71, 'Alexy Bosetti'),
 (71, 'Alfonso Artabe'),
 (71, 'Alfonso De Lucia'),
 (70, 'Alfonso Pedraza'),
 (70, 'Alfonso Taira'),
 (70, 'Alfred Duncan'),
 (70, 'Alfred Finnbogason'),
 (70, "Alfred N'Diaye"),
 (68, 'Alfredo Morales'),
 (68, 'Alfredo Ortuno'),
 (66, 'Alharbi El Jadeyaoui'),
 (67, 'Alhassan Wakaso'),
 (67, 'Alhassane Bangoura'),
 (67, 'Alhassane Keita'),
 (68, 'Alhassane Keita'),
 (69, 'Ali Adnan'),
 (67, 'Ali Ahamada'),
 (67, 'Ali Al-Habsi'),
 (68, 'Ali Boussaboun'),
 (66, 'Ali Ghazal'),
 (53, "Ali M'Madi"),
 (53, 'Ali Messaoud'),
 (64, 'Ali Yasar'),
 (64, 'Alim Oezturk'),
 (63, 'Aliou Dia'),
 (63, 'Alioun Fall'),
 (63, 'Alireza Haghighi'),
 (63, 'Alireza Jahanbakhsh'),
 (63, 'Alistair Crawford'),
 (72, 'Aljaz Struna'),
 (72, 'Alje Schut'),
 (72, 'Allan McGregor'),
 (72, 'Allan Nyom'),
 (67, 'Allan Russell'),
 (67, 'Allan Saint-Maximin'),
 (66, 'Allan'),
 (63, 'Allan'),
 (63, 'Almamy Toure'),
 (63, 'Almeida Anderson do Oliveira'),
 (63, 'Almeida Borges Leandro'),
 (63, 'Almen Abdi'),
 (63, 'Almog Cohen'),
 (63, 'Alois Confais'),
 (63, 'Alou Diarra'),
 (66, 'Aloys Nong'),
 (58, 'Alpaslan Ozturk'),
 (58, 'Alphonse Areola'),
 (54, 'Alphousseyni Keita'),
 (55, 'Altin Lala'),
 (49, 'Alvarinho'),
 (49, 'Alvaro Ampuero'),
 (72, 'Alvaro Anton'),
 (72, 'Alvaro Arbeloa'),
 (72, 'Alvaro Arroyo'),
 (71, 'Alvaro Cejudo'),
 (70, 'Alvaro Dominguez'),
 (70, 'Alvaro Dominguez'),
 (71, 'Alvaro Fernandez'),
 (68, 'Alvaro Garcia'),
 (69, 'Alvaro Gimenez'),
 (69, 'Alvaro Gonzalez Soberon'),
 (69, 'Alvaro Gonzalez'),
 (69, 'Alvaro Medran'),
 (69, 'Alvaro Mejia'),
 (69, 'Alvaro Morata'),
 (69, 'Alvaro Negredo'),
 (69, 'Alvaro Pereira'),
 (69, 'Alvaro Rubio'),
 (69, 'Alvaro Saborio'),
 (69, 'Alvaro Santos'),
 (70, 'Alvaro Vadillo'),
 (60, 'Alvaro Vazquez'),
 (60, 'Alves Justino Jorge Luiz,28'),
 (62, 'Aly Cissokho'),
 (62, 'Aly Ndom'),
 (75, 'Amad Al Hosni'),
 (75, 'Amadou Alassane'),
 (75, 'Amadou Diawara'),
 (73, 'Amadou Sidibe'),
 (74, 'Amadou Soukouna'),
 (74, 'Amara Baby'),
 (75, 'Amauri'),
 (75, 'Amaury Bischoff'),
 (78, 'Amdy Faye'),
 (78, 'Amidio Balde'),
 (78, 'Amidu Salifu'),
 (78, 'Amilton'),
 (79, 'Amin Affane'),
 (79, 'Amin Younes'),
 (79, 'Amine Linganzi'),
 (79, 'Amine Mohamed Chermiti'),
 (79, 'Amir Abrashi'),
 (79, 'Amir Spahic'),
 (79, 'Ammar Jemal'),
 (79, 'Amoreirinha'),
 (78, 'Amos Youga'),
 (78, 'Amr Zaki'),
 (76, 'Anaitz Arbilla'),
 (75, 'Anas Tahiri'),
 (74, 'Anass Achahbar'),
 (75, 'Anastasios Donis'),
 (73, 'Anatole Ngamukol'),
 (76, 'Anatoli Tymoschuk'),
 (76, 'Ancelmo Junior'),
 (51, 'Anco Jansen'),
 (51, 'Ander Capa'),
 (73, 'Ander Herrera'),
 (73, 'Ander Iturraspe'),
 (73, 'Ander Murillo'),
 (73, 'Anders Christiansen'),
 (73, 'Anders Konradsen'),
 (73, 'Anders Lindegaard'),
 (73, 'Anderson Carvalho'),
 (71, 'Anderson Conceicao'),
 (71, 'Anderson Correia'),
 (71, 'Anderson Esiti'),
 (71, 'Anderson Luis'),
 (71, 'Anderson Melo'),
 (71, 'Anderson Talisca'),
 (72, 'Anderson'),
 (72, 'Anderson'),
 (72, 'Andi Lila'),
 (72, 'Andile Jali'),
 (72, 'Andis Shala'),
 (72, 'Andjelko Djuricic'),
 (72, 'Andoni Iraola'),
 (70, 'Andras Gosztonyi'),
 (70, 'Andraz Kirm'),
 (68, 'Andre Albino Carvalho da Cunha'),
 (68, 'Andre Almeida'),
 (68, 'Andre Andre'),
 (68, 'Andre Anguissa'),
 (68, 'Andre Auras'),
 (69, 'Andre Ayew'),
 (70, 'Andre Bahia'),
 (64, 'Andre Bikey'),
 (64, 'Andre Biyogo Poko'),
 (69, 'Andre Blackman'),
 (69, 'Andre Bukia'),
 (69, 'Andre Carrillo'),
 (66, 'Andre Castro'),
 (66, 'Andre Claro'),
 (66, 'Andre Costa'),
 (66, 'Andre Dias'),
 (65, 'Andre Dias'),
 (65, 'Andre Fontes'),
 (65, 'Andre Geraldes'),
 (65, 'Andre Gomes'),
 (64, 'Andre Hahn'),
 (61, 'Andre Hainault'),
 (62, 'Andre Hoffmann'),
 (62, 'Andre Horta'),
 (73, 'Andre Leao'),
 (73, 'Andre Lenz'),
 (72, 'Andre Leone'),
 (72, 'Andre Luiz'),
 (72, 'Andre Marques'),
 (71, 'Andre Martins'),
 (71, 'Andre Micael'),
 (71, 'Andre Mijatovic'),
 (70, 'Andre Moreira'),
 (70, 'Andre Ooijer'),
 (69, 'Andre Pinto'),
 (69, 'Andre Ramalho Silva'),
 (68, 'Andre Santos'),
 (68, 'Andre Santos'),
 (66, 'Andre Schuerrle'),
 (66, 'Andre Silva'),
 (66, 'Andre Simoes'),
 (59, 'Andre Sousa'),
 (60, 'Andre Vilas Boas'),
 (60, 'Andre Wisdom'),
 (73, 'Andre-Pierre Gignac'),
 (72, 'Andre'),
 (72, 'Andrea Ardito'),
 (72, 'Andrea Barzagli'),
 (71, 'Andrea Belotti'),
 (71, 'Andrea Bertolacci'),
 (71, 'Andrea Campagnolo'),
 (71, 'Andrea Caracciolo'),
 (72, 'Andrea Catellani'),
 (72, 'Andrea Coda'),
 (72, 'Andrea Consigli'),
 (72, 'Andrea Conti'),
 (72, 'Andrea Conti'),
 (73, 'Andrea Cossu'),
 (74, 'Andrea Costa'),
 (73, 'Andrea Dossena'),
 (74, 'Andrea Esposito'),
 (71, 'Andrea Fileccia'),
 (71, 'Andrea Gasbarroni'),
 (71, 'Andrea Guatelli'),
 (69, 'Andrea Lazzari'),
 (69, 'Andrea Lisuzzo'),
 (69, 'Andrea Luci'),
 (69, 'Andrea Mantovani'),
 (67, 'Andrea Masiello'),
 (66, 'Andrea Mazzarani'),
 (66, 'Andrea Mei'),
 (66, 'Andrea Mutombo'),
 (66, 'Andrea Orlandi'),
 (66, 'Andrea Parola'),
 (66, 'Andrea Pirlo'),
 (66, 'Andrea Pisanu'),
 (66, 'Andrea Poli'),
 (66, 'Andrea Raggi'),
 (66, 'Andrea Ranocchia'),
 (66, 'Andrea Rispoli'),
 (57, 'Andrea Rossi'),
 (57, 'Andrea Russotto'),
 (57, 'Andrea Seculin'),
 (73, 'Andrea Tabanelli'),
 (73, 'Andrea Zanchetta'),
 (73, 'Andreas Beck'),
 (70, 'Andreas Bjelland'),
 (70, 'Andreas Christensen'),
 (69, 'Andreas Goerlitz'),
 (69, 'Andreas Granqvist'),
 (67, 'Andreas Hinkel'),
 (66, 'Andreas Hirzel'),
 (65, 'Andreas Ibertsberger'),
 (64, 'Andreas Isaksson'),
 (64, 'Andreas Ivanschitz'),
 (61, 'Andreas Johansson'),
 (59, 'Andreas Lambertz'),
 (55, 'Andreas Landgren'),
 (55, 'Andreas Lasnik'),
 (55, 'Andreas Ludwig'),
 (55, 'Andreas Luthe'),
 (67, 'Andreas Ottl'),
 (68, 'Andreas Samaris'),
 (68, 'Andreas Weimann'),
 (70, 'Andreas Wittwer'),
 (70, 'Andreas Wolf'),
 (70, 'Andrej Kramaric'),
 (73, 'Andrej Rendla'),
 (72, 'Andres Fernandez'),
 (75, 'Andres Guardado'),
 (76, 'Andres Iniesta'),
 (76, 'Andres Lamas'),
 (74, 'Andres Madrid'),
 (76, 'Andres Malloth'),
 (76, 'Andres Palop'),
 (72, 'Andres Tunez'),
 (60, 'Andreu Fontas'),
 (60, 'Andreu Mayoral'),
 (60, 'Andrew Barrowman'),
 (60, 'Andrew Considine'),
 (60, 'Andrew Crofts'),
 (60, 'Andrew Davies'),
 (60, 'Andrew Dawson'),
 (65, 'Andrew Driver'),
 (65, 'Andrew Johnson'),
 (65, 'Andrew Keogh'),
 (65, 'Andrew Little'),
 (65, 'Andrew McNeil'),
 (70, 'Andrew Mitchell'),
 (69, "Andrew O'Brien"),
 (72, 'Andrew Reid'),
 (74, 'Andrew Robertson'),
 (79, 'Andrew Shinnie'),
 (76, 'Andrew Sinkala'),
 (64, 'Andrew Surman'),
 (64, 'Andrew Taylor'),
 (64, 'Andrew Wooten'),
 (59, 'Andrey Arshavin'),
 (56, 'Andrey Voronin'),
 (56, 'Andrezinho'),
 (56, 'Andrezinho'),
 (69, 'Andrija Delibasic'),
 (69, 'Andrija Kaludjerovic'),
 (69, 'Andris Vanins'),
 (69, 'Andrius Velicka'),
 (69, 'Andriy Shevchenko'),
 (69, 'Andros Townsend'),
 (69, 'Andrzej Witan'),
 (67, 'Andwele Slory'),
 (67, 'Andy Carroll'),
 (67, 'Andy Delort'),
 (66, 'Andy Dorman'),
 (66, 'Andy Dowie'),
 (66, 'Andy Griffin'),
 (65, 'Andy Jackson'),
 (65, 'Andy Kawaya'),
 (66, 'Andy King'),
 (66, 'Andy Kirk'),
 (60, 'Andy Najar'),
 (51, 'Andy Webster'),
 (51, 'Andy Wilkinson'),
 (51, 'Anele Ngcongca'),
 (63, 'Anestis Argyriou'),
 (63, 'Angel Cervara'),
 (63, 'Angel Correa'),
 (63, 'Angel Di Maria'),
 (57, 'Angel Javier Arizmendi'),
 (57, 'Angel Lafita'),
 (59, 'Angel Lopez'),

In [34]:
data = sqlite3.connect("movie.sqlite")
cursor = data.cursor()

In [35]:
cursor.execute("pragma table_info('movies')")
movies = cursor.fetchall()
movies

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'original_title', 'VARCHAR', 0, None, 0),
 (2, 'budget', 'INTEGER', 0, None, 0),
 (3, 'popularity', 'INTEGER', 0, None, 0),
 (4, 'release_date', 'TEXT', 0, None, 0),
 (5, 'revenue', 'INTEGER', 0, None, 0),
 (6, 'title', 'TEXT', 0, None, 0),
 (7, 'vote_average', 'REAL', 0, None, 0),
 (8, 'vote_count', 'INTEGER', 0, None, 0),
 (9, 'overview', 'TEXT', 0, None, 0),
 (10, 'tagline', 'TEXT', 0, None, 0),
 (11, 'uid', 'INTEGER', 0, None, 0),
 (12, 'director_id', 'INTEGER', 1, '0', 0)]

In [41]:
cursor.execute("select * from movies")
movies = cursor.fetchall()
movies = pd.DataFrame(movies)
movies.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766

In [42]:
cursor.execute("select * from directors")
directors = cursor.fetchall()
directors = pd.DataFrame(directors)
directors.head()

                   0     1  2     3          4
0      James Cameron  4762  2  2710  Directing
1     Gore Verbinski  4763  2  1704  Directing
2         Sam Mendes  4764  2    39  Directing
3  Christopher Nolan  4765  2   525  Directing
4     Andrew Stanton  4766  2     7  Directing

In [36]:
cursor.execute("pragma table_info('directors')")
movies = cursor.fetchall()
movies

[(0, 'name', 'TEXT', 0, None, 0),
 (1, 'id', 'INTEGER', 0, None, 1),
 (2, 'gender', 'INTEGER', 0, None, 0),
 (3, 'uid', 'INTEGER', 0, None, 0),
 (4, 'department', 'TEXT', 0, None, 0)]

In [45]:
cursor.execute('select name from directors inner join movies on directors.id = movies.director_id')
data = cursor.fetchall()
data

[('James Cameron',),
 ('Gore Verbinski',),
 ('Sam Mendes',),
 ('Christopher Nolan',),
 ('Andrew Stanton',),
 ('Sam Raimi',),
 ('Byron Howard',),
 ('Joss Whedon',),
 ('David Yates',),
 ('Zack Snyder',),
 ('Bryan Singer',),
 ('Marc Forster',),
 ('Gore Verbinski',),
 ('Gore Verbinski',),
 ('Zack Snyder',),
 ('Andrew Adamson',),
 ('Joss Whedon',),
 ('Rob Marshall',),
 ('Barry Sonnenfeld',),
 ('Peter Jackson',),
 ('Marc Webb',),
 ('Ridley Scott',),
 ('Peter Jackson',),
 ('Chris Weitz',),
 ('Peter Jackson',),
 ('James Cameron',),
 ('Anthony Russo',),
 ('Peter Berg',),
 ('Colin Trevorrow',),
 ('Sam Mendes',),
 ('Sam Raimi',),
 ('Shane Black',),
 ('Tim Burton',),
 ('Brett Ratner',),
 ('Dan Scanlon',),
 ('Michael Bay',),
 ('Michael Bay',),
 ('Sam Raimi',),
 ('Marc Webb',),
 ('Joseph Kosinski',),
 ('John Lasseter',),
 ('Martin Campbell',),
 ('Lee Unkrich',),
 ('McG',),
 ('James Wan',),
 ('Marc Forster',),
 ('Bryan Singer',),
 ('J.J. Abrams',),
 ('Bryan Singer',),
 ('Baz Luhrmann',),
 ('Mike Newell',),
 ('Guillermo del Toro',),
 ('Michael Bay',),
 ('Steven Spielberg',),
 ('Peter Sohn',),
 ('Brenda Chapman',),
 ('Justin Lin',),
 ('Andrew Stanton',),
 ('Brett Ratner',),
 ('Roland Emmerich',),
 ('Robert Zemeckis',),
 ('Lilly Wachowski',),
 ('David Yates',),
 ('Andrew Adamson',),
 ('Bryan Singer',),
 ('Christopher Nolan',),
 ('Pete Docter',),
 ('Conrad Vernon',),
 ('Jon Favreau',),
 ('Martin Scorsese',),
 ('Barry Sonnenfeld',),
 ('Rob Cohen',),
 ('David Ayer',),
 ('Tom Shadyac',),
 ('Doug Liman',),
 ('Kevin Reynolds',),
 ('Stephen Sommers',),
 ('Pete Docter',),
 ('Jon Favreau',),
 ('Jon Favreau',),
 ('Rupert Sanders',),
 ('Robert Stromberg',),
 ('Matt Reeves',),
 ('Roland Joffé',),
 ('Carl Rinsch',),
 ('Anthony Russo',),
 ('Mike Mitchell',),
 ('Brad Bird',),
 ('Chris Williams',),
 ('Rich Moore',),
 ('Robert Zemeckis',),
 ('Roland Emmerich',),
 ('Chris Sanders',),
 ('Jonathan Mostow',),
 ('James Gunn',),
 ('Christopher Nolan',),
 ('Christopher Nolan',),
 ('Hideaki Anno',),
 ('Peter Jackson',),
 ('Rob Cohen',),
 ('David Fincher',),
 ('Matthew Vaughn',),
 ('Francis Lawrence',),
 ('Jon Turteltaub',),
 ('Wolfgang Petersen',),
 ('James Bobin',),
 ('Chris Miller',),
 ('Duncan Jones',),
 ('Alan Taylor',),
 ('Michael Apted',),
 ('Michael Bay',),
 ('Michael Bay',),
 ('Oliver Stone',),
 ('David Yates',),
 ('Mike Newell',),
 ('Peter Berg',),
 ('Francis Lawrence',),
 ('Tim Burton',),
 ('Jan Pinkava',),
 ('Christopher Nolan',),
 ('Eric Darnell',),
 ('Shawn Levy',),
 ('Gavin Hood',),
 ('Lilly Wachowski',),
 ('Chris Buck',),
 ('Lilly Wachowski',),
 ('Alan Taylor',),
 ('George Miller',),
 ('Ron Howard',),
 ('Kenneth Branagh',),
 ('Chris Williams',),
 ('Hoyt Yeatman',),
 ('Jonathan Liebesman',),
 ('Tim Burton',),
 ('Christopher McQuarrie',),
 ('Joe Johnston',),
 ('Steve Hickner',),
 ('Jennifer Yuh Nelson',),
 ('M. Night Shyamalan',),
 ('J.J. Abrams',),
 ('Roland Emmerich',),
 ('Simon Wells',),
 ('David Bowers',),
 ('Joe Wright',),
 ('Rob Minkoff',),
 ('Wolfgang Petersen',),
 ('Conrad Vernon',),
 ('Lee Tamahori',),
 ('Paul Feig',),
 ('Michael Bay',),
 ('Barry Sonnenfeld',),
 ('Robert Zemeckis',),
 ('Jennifer Yuh Nelson',),
 ('Brad Bird',),
 ('Peter Ramsey',),
 ('Dean Parisot',),
 ('Edward Zwick',),
 ('Ridley Scott',),
 ('J.J. Abrams',),
 ('Sam Raimi',),
 ('Dean DeBlois',),
 ('Alex Proyas',),
 ('Rob Cohen',),
 ('Zack Snyder',),
 ('Richard Donner',),
 ('Ang Lee',),
 ('Jon M. Chu',),
 ('Breck Eisner',),
 ('Hironobu Sakaguchi',),
 ('Joe Johnston',),
 ('Michael Apted',),
 ('Peter Weir',),
 ('Bill Condon',),
 ('George Miller',),
 ('Louis Leterrier',),
 ('Steven Spielberg',),
 ('Alejandro González Iñárritu',),
 ('David Soren',),
 ('Gore Verbinski',),
 ('Eric Darnell',),
 ('Paul Greengrass',),
 ('Mark Osborne',),
 ('Peyton Reed',),
 ('Francis Lawrence',),
 ('Tim Johnson',),
 ('Steven Spielberg',),
 ('Michael Bay',),
 ('Chris Miller',),
 ('Phillip Noyce',),
 ('Darren Aronofsky',),
 ('Steven Spielberg',),
 ('Alfonso Cuarón',),
 ('Baz Luhrmann',),
 ('M. Night Shyamalan',),
 ('Ralph Zondag',),
 ('Shawn Levy',),
 ('Tom McGrath',),
 ('Chris Columbus',),
 ('Robert Schwentke',),
 ('Gore Verbinski',),
 ('Francis Lawrence',),
 ('Ron Howard',),
 ('Carlos Saldanha',),
 ('Bryan Singer',),
 ('Justin Lin',),
 ('Guy Ritchie',),
 ('Louis Leterrier',),
 ('Paul Verhoeven',),
 ('John McTiernan',),
 ('Tony Gilroy',),
 ('Joel Schumacher',),
 ('Ron Howard',),
 ('Roland Emmerich',),
 ('John Woo',),
 ('Wolfgang Petersen',),
 ('Tim Story',),
 ('Ang Lee',),
 ('Mark Steven Johnson',),
 ('Paul Greengrass',),
 ('McG',),
 ('Ridley Scott',),
 ('Rob Minkoff',),
 ('Neill Blomkamp',),
 ('David Twohy',),
 ('José Padilha',),
 ('Lilly Wachowski',),
 ('James L. Brooks',),
 ('James Mangold',),
 ('Joseph Kosinski',),
 ('George Lucas',),
 ('George Lucas',),
 ('Pete Docter',),
 ('James Mangold',),
 ('George Lucas',),
 ('Chris Sanders',),
 ('Thomas Langmann',),
 ('John Woo',),
 ('Cedric Nicolas-Troyan',),
 ('Jonathan Liebesman',),
 ('Alfonso Cuarón',),
 ('Roger Donaldson',),
 ('Dave Green',),
 ('Josh Trank',),
 ('Shawn Levy',),
 ('Brad Peyton',),
 ('Roger Spottiswoode',),
 ('Roland Emmerich',),
 ('Steven Soderbergh',),
 ('Doug Liman',),
 ('Robert Schwentke',),
 ('Martin Scorsese',),
 ('Rob Letterman',),
 ('Michel Gondry',),
 ('Noam Murro',),
 ('Raja Gosnell',),
 ('Will Finn',),
 ('Robert Schwentke',),
 ('Shawn Levy',),
 ('Raja Gosnell',),
 ('Jan de Bont',),
 ('Gavin Hood',),
 ('Len Wiseman',),
 ('Peter Jackson',),
 ('Frank Coraci',),
 ('Michael Mann',),
 ('Bo Welch',),
 ('Alex Proyas',),
 ('Ridley Scott',),
 ('Rob Minkoff',),
 ('Ron Clements',),
 ('Ridley Scott',),
 ('Michael Bay',),
 ('Peter Chelsom',),
 ('Dominic Sena',),
 ('Ridley Scott',),
 ('Steven Spielberg',),
 ('Chris Columbus',),
 ('Martin Campbell',),
 ('Tim Burton',),
 ('James Cameron',),
 ('Michael Mann',),
 ('Ridley Scott',),
 ('James Cameron',),
 ('Tony Scott',),
 ('Paul Weitz',),
 ('Adam McKay',),
 ('Chuck Russell',),
 ('Quentin Tarantino',),
 ('Gary Trousdale',),
 ('Mark Dindal',),
 ('Simon West',),
 ('Jon Turteltaub',),
 ('Stefen Fangmeier',),
 ('Spike Jonze',),
 ('Chris Wedge',),
 ('Florian Henckel von Donnersmarck',),
 ('Peter Hyams',),
 ('Edward Zwick',),
 ('Martin Scorsese',),
 ('Joel Schumacher',),
 ('Paul Verhoeven',),
 ('Tom Tykwer',),
 ('Zack Snyder',),
 ('Pitof',),
 ('Brett Ratner',),
 ('Ron Clements',),
 ('Brad Silberling',),
 ('Patrick Hughes',),
 ('Ericson Core',),
 ('Lawrence Guterman',),
 ('Ron Howard',),
 ('Ron Underwood',),
 ('Paul Greengrass',),
 ('Steve Martino',),
 ('David Mamet',),
 ('Stephen Sommers',),
 ('Martin Scorsese',),
 ('Zhang Yimou',),
 ('Ash Brannon',),
 ('Frank Oz',),
 ('Ridley Scott',),
 ('Jay Roach',),
 ('Luc Besson',),
 ('Michael Patrick King',),
 ('Don Michael Paul',),
 ('Steve Martino',),
 ('Kenneth Branagh',),
 ('Peter Jackson',),
 ('Andrew Stanton',),
 ('Peter Jackson',),
 ('Peter Jackson',),
 ('Sergei Bodrov',),
 ('Simon West',),
 ('Wally Pfister',),
 ('Joe Johnston',),
 ('Rupert Wyatt',),
 ('Mark Waters',),
 ('John Moore',),
 ('John Lee Hancock',),
 ('Brad Bird',),
 ('Renny Harlin',),
 ('Chris Columbus',),
 ('Barry Sonnenfeld',),
 ('John Lasseter',),
 ('Tony Scott',),
 ('Brett Ratner',),
 ('Robert Zemeckis',),
 ('Phil Lord',),
 ('Carlos Saldanha',),
 ('Ben Stiller',),
 ('McG',),
 ('Martin Scorsese',),
 ('Tony Bancroft',),
 ('Ben Stiller',),
 ('David Fincher',),
 ('John McTiernan',),
 ('Guy Ritchie',),
 ('Timur Bekmambetov',),
 ('Gary Trousdale',),
 ('Walt Becker',),
 ('Bryan Singer',),
 ('Dennis Dugan',),
 ('Chris Columbus',),
 ('Steven Spielberg',),
 ('Rob Minkoff',),
 ('Robert Zemeckis',),
 ('Paul Verhoeven',),
 ('Sydney Pollack',),
 ('Thor Freudenthal',),
 ('Jan de Bont',),
 ('Jon M. Chu',),
 ('Phillip Noyce',),
 ('Tony Scott',),
 ('Brian De Palma',),
 ('Carlos Saldanha',),
 ('Chris Columbus',),
 ('Mick Jackson',),
 ('Alan J. Pakula',),
 ('Kathryn Bigelow',),
 ('John Milius',),
 ('Ron Howard',),
 ('Andrei Konchalovsky',),
 ('Gary Ross',),
 ('Jan de Bont',),
 ('Robert Zemeckis',),
 ('George Miller',),
 ('Paul Greengrass',),
 ('Wolfgang Petersen',),
 ('Steven Soderbergh',),
 ('Paul W.S. Anderson',),
 ('Genndy Tartakovsky',),
 ('Kevin Lima',),
 ('Daniel Espinosa',),
 ('Kevin Lima',),
 ('Brett Ratner',),
 ('Nancy Meyers',),
 ('Tony Scott',),
 ('Nancy Meyers',),
 ('Steven Soderbergh',),
 ('Jill Culton',),
 ('Neil Burger',),
 ('Jean-Jacques Annaud',),
 ('Peter Berg',),
 ('John McTiernan',),
 ('Rob Marshall',),
 ('Justin Lin',),
 ('Barry Cook',),
 ('Martin Brest',),
 ('Andrew Davis',),
 ('Bob Fosse',),
 ('Tarsem Singh',),
 ('Edgar Wright',),
 ('Jon Amiel',),
 ('Peter Segal',),
 ('Raja Gosnell',),
 ('Pete Travis',),
 ('Frank Coraci',),
 ('George A. Romero',),
 ('Brad Peyton',),
 ('Doug Liman',),
 ('Guillermo del Toro',),
 ('David Fincher',),
 ('Roger Spottiswoode',),
 ('Tom Shadyac',),
 ('Sylvester Stallone',),
 ('Brian De Palma',),
 ('Gary Ross',),
 ('Todd Phillips',),
 ('Tim Burton',),
 ('Karey Kirkpatrick',),
 ('Chris Sanders',),
 ('Gary Winick',),
 ('Mimi Leder',),
 ('Dean Parisot',),
 ('Peter Segal',),
 ('Mike Mitchell',),
 ('Dennis Dugan',),
 ('Peter Segal',),
 ('Nancy Meyers',),
 ('Martin Scorsese',),
 ('Seth Gordon',),
 ('Chris Wedge',),
 ('John Woo',),
 ('Adam Shankman',),
 ('Sam Mendes',),
 ('Dennis Dugan',),
 ('Simon West',),
 ('D.J. Caruso',),
 ('Anthony Minghella',),
 ('Albert Hughes',),
 ('Les Mayfield',),
 ('Jan de Bont',),
 ('Joe Pytka',),
 ('Shawn Levy',),
 ('Scott Derrickson',),
 ('Richard Donner',),
 ('David Ayer',),
 ('Ivan Reitman',),
 ('Eric Brevig',),
 ('Kelly Asbury',),
 ('Frank Coraci',),
 ('Stephen Hopkins',),
 ('Jonathan Demme',),
 ('Henry Jaglom',),
 ('Genndy Tartakovsky',),
 ('James Algar',),
 ('Simon Wells',),
 ('Ron Underwood',),
 ('Dominic Sena',),
 ('Martin Campbell',),
 ('Vincent Ward',),
 ('Steven Brill',),
 ('Terry Gilliam',),
 ('Tim Burton',),
 ('Lucile Hadzihalilovic',),
 ('Lee Tamahori',),
 ('Jonathan Mostow',),
 ('Roger Donaldson',),
 ('Rob Cohen',),
 ('Barry Cook',),
 ('Roger Christian',),
 ('Joe Dante',),
 ('Rob Marshall',),
 ('Richard Donner',),
 ('Kevin Costner',),
 ('George Miller',),
 ('Breck Eisner',),
 ('Antony Hoffman',),
 ('Luc Besson',),
 ('Jacques Perrin',),
 ('Peter Hyams',),
 ('Paul W.S. Anderson',),
 ('Andrés Couturier',),
 ('Ron Howard',),
 ('Roger Allers',),
 ('Brad Peyton',),
 ('Cody Cameron',),
 ('Brett Ratner',),
 ('Joe Johnston',),
 ('Dennis Dugan',),
 ('John Singleton',),
 ('Mark Osborne',),
 ('Oliver Hirschbiegel',),
 ('Des McAnuff',),
 ('Chris Renaud',),
 ('Stephen Norrington',),
 ('Pierre Coffin',),
 ('Roland Emmerich',),
 ('Steven Spielberg',),
 ('Eric Darnell',),
 ('Alfonso Cuarón',),
 ('Bryan Singer',),
 ('Timur Bekmambetov',),
 ('Michael Bay',),
 ('Carlos Saldanha',),
 ('Peter Segal',),
 ('Adam Shankman',),
 ('Renny Harlin',),
 ('David Kellogg',),
 ('Louis Leterrier',),
 ('Dennis Dugan',),
 ('Steven Spielberg',),
 ('Thor Freudenthal',),
 ('Martin Campbell',),
 ('Mike Nichols',),
 ('Vicky Jenson',),
 ('Bill Condon',),
 ('F. Gary Gray',),
 ('Steven Spielberg',),
 ('Antoine Fuqua',),
 ('Robert Luketic',),
 ('Guy Ritchie',),
 ('James L. Brooks',),
 ('Gil Kenan',),
 ('Barry Levinson',),
 ('Jerry Zucker',),
 ('Andy Tennant',),
 ('Tarsem Singh',),
 ('Florent-Emilio Siri',),
 ('Gary Goldman',),
 ('Ron Shelton',),
 ('Paul W.S. Anderson',),
 ('Àlex Pastor',),
 ('Henry Selick',),
 ('John Moore',),
 ('M. Night Shyamalan',),
 ('Kyle Balda',),
 ('Zack Snyder',),
 ('Brian De Palma',),
 ('Barry Levinson',),
 ('Fergal Reilly',),
 ('Andy Tennant',),
 ('Judd Apatow',),
 ('Peter Berg',),
 ('Adam McKay',),
 ('Steve Carr',),
 ('Mel Gibson',),
 ('Sam Mendes',),
 ('David Silverman',),
 ('Frank Darabont',),
 ('Renny Harlin',),
 ('Jean-Jacques Annaud',),
 ('M. Night Shyamalan',),
 ('Betty Thomas',),
 ('M. Night Shyamalan',),
 ('Andrew Adamson',),
 ('John Lasseter',),
 ('Garry Marshall',),
 ('Rob Cohen',),
 ('Paul Tibbitt',),
 ('Ron Howard',),
 ('Quentin Tarantino',),
 ('Steven Spielberg',),
 ('Renny Harlin',),
 ('Clark Johnson',),
 ('Cameron Crowe',),
 ('M. Night Shyamalan',),
 ('Paul W.S. Anderson',),
 ('Betty Thomas',),
 ('Randall Wallace',),
 ('Antoine Fuqua',),
 ('Jonathan Frakes',),
 ('Jonathan Liebesman',),
 ('Tim Burton',),
 ('Mike Nichols',),
 ('Steven Spielberg',),
 ('George Clooney',),
 ('James Cameron',),
 ('Oliver Stone',),
 ('Gary Shore',),
 ('Edward Zwick',),
 ('Matthew Vaughn',),
 ('Jean-Jacques Annaud',),
 ('Ron Howard',),
 ('Joel Schumacher',),
 ('Andrzej Bartkowiak',),
 ('Betty Thomas',),
 ('Måns Mårlind',),
 ('Adam Shankman',),
 ('Gregory Hoblit',),
 ('Gary McKendry',),
 ('John McTiernan',),
 ('Wych Kaosayananda',),
 ('Mikael Salomon',),
 ('Bobby Farrelly',),
 ('Dan St. Pierre',),
 ('Michael Mann',),
 ('Kerry Conran',),
 ('Michael Caton-Jones',),
 ('Mikael Håfström',),
 ('Renny Harlin',),
 ('Phil Alden Robinson',),
 ('David Slade',),
 ('Frank Oz',),
 ('Pierre Coffin',),
 ('Joseph Ruben',),
 ('Seth MacFarlane',),
 ('Alejandro Amenábar',),
 ('Kinka Usher',),
 ('Bobby Farrelly',),
 ('Michael Mann',),
 ('Craig Gillespie',),
 ('Ridley Scott',),
 ('Jay Roach',),
 ('Timur Bekmambetov',),
 ('Jon Amiel',),
 ('Rob Bowman',),
 ('Doug Lefler',),
 ('Steven Spielberg',),
 ('Scott Waugh',),
 ('Nancy Meyers',),
 ('Chris Wedge',),
 ('Lawrence Kasdan',),
 ('Steven Spielberg',),
 ('Lilly Wachowski',),
 ('Ron Howard',),
 ('Michael Lembeck',),
 ('Tom Hooper',),
 ('Nora Ephron',),
 ('Adam McKay',),
 ('Martin Campbell',),
 ('Todd Phillips',),
 ('Angelina Jolie',),
 ('Clint Eastwood',),
 ('Renny Harlin',),
 ('John Woo',),
 ('Jon Turteltaub',),
 ('Oliver Stone',),
 ('Mike Newell',),
 ('Larry Charles',),
 ('Stanley Kubrick',),
 ('Will Gluck',),
 ('Glenn Ficarra',),
 ('McG',),
 ('David S. Goyer',),
 ('John Milius',),
 ('Mike Nichols',),
 ('Paul W.S. Anderson',),
 ('Paul W.S. Anderson',),
 ('Renny Harlin',),
 ('Taylor Hackford',),
 ('Jon Favreau',),
 ('David Fincher',),
 ('McG',),
 ('Michael Lehmann',),
 ('Nora Ephron',),
 ('Stuart Beattie',),
 ('Roman Polanski',),
 ('Rob Bowman',),
 ('Robert Rodriguez',),
 ('Sydney Pollack',),
 ('Baltasar Kormákur',),
 ('Tom Tykwer',),
 ('Jay Roach',),
 ('David Bowers',),
 ('Steven Spielberg',),
 ('Lawrence Kasdan',),
 ('Phillip Noyce',),
 ('Daniel Lee',),
 ('Keenen Ivory Wayans',),
 ('Jonathan Mostow',),
 ('Rob Reiner',),
 ('Marco Schnabel',),
 ('Demian Lichtenstein',),
 ('Quentin Tarantino',),
 ('Josh Gordon',),
 ('Tim Hill',),
 ('Zack Snyder',),
 ('Jay Roach',),
 ('David Frankel',),
 ('Frank Darabont',),
 ('Walt Becker',),
 ('Mark Dindal',),
 ('David Fincher',),
 ('Doug Liman',),
 ('Martin Campbell',),
 ('Simon West',),
 ('Peter Weir',),
 ('Simon Wells',),
 ('Steve Carr',),
 ('Baltasar Kormákur',),
 ('Lawrence Guterman',),
 ('F. Gary Gray',),
 ('Marc Lawrence',),
 ('Eric Darnell',),
 ('Peter Billingsley',),
 ('Tony Scott',),
 ('Adam Shankman',),
 ('Wes Ball',),
 ('Ryan Murphy',),
 ('Brett Ratner',),
 ('Robert Schwentke',),
 ('Oliver Stone',),
 ('Robert Redford',),
 ('Michael Mann',),
 ('Chuck Russell',),
 ('Jay Russell',),
 ('Christopher McQuarrie',),
 ('Renny Harlin',),
 ('Kenny Ortega',),
 ('Steven Soderbergh',),
 ('David McNally',),
 ('Henry Selick',),
 ('M. Night Shyamalan',),
 ('Tony Scott',),
 ('Brian Robbins',),
 ('Todd Phillips',),
 ('Brian Levant',),
 ('Guillermo del Toro',),
 ('Steven Zaillian',),
 ('Sam Fell',),
 ('Michael Caton-Jones',),
 ('John Woo',),
 ('Jon Avnet',),
 ('Robert Stevenhagen',),
 ('Kevin Donovan',),
 ('Geoff Murphy',),
 ('Kenneth Branagh',),
 ('David O. Russell',),
 ('Babak Najafi',),
 ('Jean-Pierre Jeunet',),
 ('Antoine Fuqua',),
 ('Anthony Stacchi',),
 ('Griffin Dunne',),
 ('Phil Lord',),
 ('John Pasquin',),
 ('Rob Bowman',),
 ('Ruben Fleischer',),
 ('Harold Ramis',),
 ('Clint Eastwood',),
 ('Kevin Macdonald',),
 ('Tony Gilroy',),
 ('Donald Petrie',),
 ('Clark Johnson',),
 ('Jorge Blanco',),
 ('Stuart Baird',),
 ('Joel Coen',),
 ('Robert Lorenz',),
 ('Martin Campbell',),
 ('Peter Hyams',),
 ('Harold Ramis',),
 ('Jon Avnet',),
 ('Harold Becker',),
 ('Joe Wright',),
 ('Robert Redford',),
 ('Cameron Crowe',),
 ('Tim Hill',),
 ('Lee Tamahori',),
 ('Scott Stewart',),
 ('Tim Johnson',),
 ('Paul W.S. Anderson',),
 ('Tom Shadyac',),
 ('Brian De Palma',),
 ('Tony Bill',),
 ('Rod Lurie',),
 ('Walter Hill',),
 ('Akiva Goldsman',),
 ('Harald Zwart',),
 ('Brian Robbins',),
 ('Walter Salles',),
 ('Ron Howard',),
 ('Iain Softley',),
 ('Frank Miller',),
 ('David Koepp',),
 ('Uwe Boll',),
 ('Martin Campbell',),
 ('Soi Cheang',),
 ('John Dahl',),
 ('Tim Miller',),
 ('Stephen Herek',),
 ('Clint Eastwood',),
 ('Rob Letterman',),
 ('Mark Waters',),
 ('Brian Levant',),
 ('Peter MacDonald',),
 ('George Clooney',),
 ('Frank Coraci',),
 ('Marc Lawrence',),
 ('Shawn Levy',),
 ('Paul W.S. Anderson',),
 ('Anthony Hemingway',),
 ('Taylor Hackford',),
 ('Sean Anders',),
 ('Rob Cohen',),
 ('Brett Ratner',),
 ('Brian Taylor',),
 ('John Madden',),
 ('Adam Shankman',),
 ('Kevin Bray',),
 ('Robert Zemeckis',),
 ('Tim Hill',),
 ('Jay Roach',),
 ('Mike Gabriel',),
 ('Richard Donner',),
 ('Tom Shadyac',),
 ('Andy Tennant',),
 ('Sam Weisman',),
 ('Jesse Dylan',),
 ('Paul Greengrass',),
 ('Shawn Levy',),
 ('Brad Silberling',),
 ('Antoine Fuqua',),
 ('Wayne Wang',),
 ('Tony Scott',),
 ('Gabriele Muccino',),
 ('Robert Schwentke',),
 ('Barry Levinson',),
 ('Brad Silberling',),
 ('Quentin Tarantino',),
 ('Frank Oz',),
 ('Quentin Tarantino',),
 ('Andrei Konchalovsky',),
 ('Robert Zemeckis',),
 ('Tom Dey',),
 ('Stuart Baird',),
 ('Mark Waters',),
 ('Rob Minkoff',),
 ('Jimmy Hayward',),
 ('David Fincher',),
 ('Alan Parker',),
 ('John Frankenheimer',),
 ('Stephen Hopkins',),
 ('Paul King',),
 ('Akiva Schaffer',),
 ('William Friedkin',),
 ('Jon Turteltaub',),
 ('Bobby Farrelly',),
 ('Kent Alterman',),
 ('Peter Lord',),
 ('Clint Eastwood',),
 ('Andrew Davis',),
 ('Tony Scott',),
 ('Joel Schumacher',),
 ('Shekhar Kapur',),
 ('Karyn Kusama',),
 ('Ronald F. Maxwell',),
 ('Robert Butler',),
 ('Karey Kirkpatrick',),
 ('James Bobin',),
 ('Jonathan Frakes',),
 ('Steve Antin',),
 ('Jean-Pierre Jeunet',),
 ('Stanley Kubrick',),
 ('Jim Gillespie',),
 ('Guillermo del Toro',),
 ('Gabriele Muccino',),
 ('Walter Hill',),
 ('Francis Ford Coppola',),
 ('Cameron Crowe',),
 ('Anthony Russo',),
 ('Richard Lester',),
 ('Martin Brest',),
 ('Steven Zaillian',),
 ('John Singleton',),
 ('Gary Goldman',),
 ('Baz Luhrmann',),
 ('Harold Becker',),
 ('Scott Cooper',),
 ('Clint Eastwood',),
 ('F. Gary Gray',),
 ('Robert Rodriguez',),
 ('Jonathan Demme',),
 ('Curtis Hanson',),
 ('Steven Spielberg',),
 ('Kathryn Bigelow',),
 ('Peyton Reed',),
 ('Phyllida Lloyd',),
 ('Garry Marshall',),
 ('Jay Chandrasekhar',),
 ('Terrence Malick',),
 ('David Dobkin',),
 ('Miloš Forman',),
 ('Martin Scorsese',),
 ('Pierre Morel',),
 ('Paul Hunter',),
 ('Bobby Farrelly',),
 ('Steve Oedekerk',),
 ('John Whitesell',),
 ('Chris Weitz',),
 ('Andrew Adamson',),
 ('George Nolfi',),
 ('Kevin Reynolds',),
 ('Cameron Crowe',),
 ('Seth MacFarlane',),
 ('James L. Brooks',),
 ('Tom Shadyac',),
 ('Adam McKay',),
 ('Steven Brill',),
 ('J.J. Abrams',),
 ('Steven Soderbergh',),
 ('Donald Petrie',),
 ('Phil Lord',),
 ('Neil Jordan',),
 ('Peyton Reed',),
 ('Rawson Marshall Thurber',),
 ('Chris Columbus',),
 ('Sean Anders',),
 ('Rob Marshall',),
 ('Spike Lee',),
 ('Brian Helgeland',),
 ('Frank Marshall',),
 ('Cameron Crowe',),
 ('Alex Proyas',),
 ('Tom Dey',),
 ('Hideo Nakata',),
 ('Glenn Ficarra',),
 ('Peter Hewitt',),
 ('Joe Roth',),
 ('Bennett Miller',),
 ('Wolfgang Petersen',),
 ('Jaume Collet-Serra',),
 ('Andy Fickman',),
 ('James McTeigue',),
 ('David Dobkin',),
 ("Matthew O'Callaghan",),
 ('Angela Robinson',),
 ('Gary Fleder',),
 ('Tommy Wirkola',),
 ('Adrian Lyne',),
 ('D.J. Caruso',),
 ('Stephen Gaghan',),
 ('Michael Bay',),
 ('Jorge R. Gutierrez',),
 ('Richard Loncraine',),
 ('Clint Eastwood',),
 ('Ridley Scott',),
 ('David Fincher',),
 ('Christophe Gans',),
 ('Howard Deutch',),
 ('Jon Hurwitz',),
 ('F. Gary Gray',),
 ('Steven Quale',),
 ('John Landis',),
 ('Joe Dante',),
 ('David Dobkin',),
 ('Mimi Leder',),
 ('Alexander Witt',),
 ('Beeban Kidron',),
 ('Carl Franklin',),
 ('Steven Seagal',),

In [47]:
cursor.execute('select sum(revenue),name from movies inner join directors on movies.director_id = directors.id ')
data = cursor.fetchall()
data

[(395095074714, 'James Cameron')]

In [52]:
cursor.execute('select * from movies order by revenue desc limit 10')
high = cursor.fetchall()
df = pd.DataFrame(high)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43622,Titanic,200000000,100,1997-11-18,1845034188,Titanic,7.5,7562,"84 years later, a 101-year-old woman named Ros...",Nothing on Earth could come between them.,597,4762
2,43613,The Avengers,220000000,144,2012-04-25,1519557910,The Avengers,7.4,11776,When an unexpected enemy emerges and threatens...,Some assembly required.,24428,4769
3,43625,Jurassic World,150000000,418,2015-06-09,1513528810,Jurassic World,6.5,8662,Twenty-two years after the events of Jurassic ...,The park is open.,135397,4783
4,43641,Furious 7,190000000,102,2015-04-01,1506249360,Furious 7,7.3,4176,Deckard Shaw seeks revenge against Dominic Tor...,Vengeance Hits Home,168259,4794
5,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769
6,43721,Frozen,150000000,165,2013-11-27,1274219009,Frozen,7.3,5295,Young princess Anna of Arendelle dreams about ...,Only the act of true love will thaw a frozen h...,109445,4844
7,43628,Iron Man 3,200000000,77,2013-04-18,1215439994,Iron Man 3,6.8,8806,When Tony Stark's world is torn apart by a for...,Unleash the power behind the armor.,68721,4784
8,44143,Minions,74000000,875,2015-06-17,1156730962,Minions,6.4,4571,"Minions Stuart, Kevin and Bob are recruited by...","Before Gru, they had a history of bad bosses",211672,5045
9,43623,Captain America: Civil War,250000000,198,2016-04-27,1153304495,Captain America: Civil War,7.1,7241,"Following the events of Age of Ultron, the col...",Divided We Fall,271110,4781

In [59]:
cursor.execute('select * from movies order by vote_average desc limit 1')
high = cursor.fetchall()
pd.DataFrame(high)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,47116,Stiff Upper Lips,0,0,1998-06-12,0,Stiff Upper Lips,10.0,1,Stiff Upper Lips is a broad parody of British ...,None,89861,6332

In [67]:
x = '''
select distinct(name).count(titles),sum(revenue) from directors inner join movies on movies.director_id = directors.id
'''

In [73]:
cursor.execute('select name,count(title),sum(revenue) from movies inner join directors where movies.director_id = directors.id group by director_id order by sum(revenue) desc limit 10')
data = cursor.fetchall()
data

[('Steven Spielberg', 27, 9147393164),
 ('Peter Jackson', 9, 6498642820),
 ('James Cameron', 7, 5883569439),
 ('Michael Bay', 12, 5832524638),
 ('Christopher Nolan', 8, 4227483234),
 ('Chris Columbus', 11, 3725631503),
 ('Robert Zemeckis', 13, 3590622002),
 ('George Lucas', 5, 3339113893),
 ('Tim Burton', 14, 3337418241),
 ('Ridley Scott', 16, 3189557997)]

In [75]:
pd.DataFrame(data,columns=["Name","No. of Movies","Total Revenue"])

                Name  No. of Movies  Total Revenue
0   Steven Spielberg             27     9147393164
1      Peter Jackson              9     6498642820
2      James Cameron              7     5883569439
3        Michael Bay             12     5832524638
4  Christopher Nolan              8     4227483234
5     Chris Columbus             11     3725631503
6    Robert Zemeckis             13     3590622002
7       George Lucas              5     3339113893
8         Tim Burton             14     3337418241
9       Ridley Scott             16     3189557997

In [85]:
cursor.execute('select name,count(title),sum(revenue) from movies inner join directors where directors.id = movies.director_id group by director_id order by count(title) desc limit 10')
data = cursor.fetchall()
data

[('Steven Spielberg', 27, 9147393164),
 ('Woody Allen', 21, 669101038),
 ('Clint Eastwood', 20, 2512058888),
 ('Martin Scorsese', 20, 1956635998),
 ('Spike Lee', 16, 340618771),
 ('Robert Rodriguez', 16, 1109899581),
 ('Ridley Scott', 16, 3189557997),
 ('Renny Harlin', 15, 1031500590),
 ('Steven Soderbergh', 15, 2114864443),
 ('Oliver Stone', 14, 1278048615)]

In [86]:
pd.DataFrame(data)

                   0   1           2
0   Steven Spielberg  27  9147393164
1        Woody Allen  21   669101038
2     Clint Eastwood  20  2512058888
3    Martin Scorsese  20  1956635998
4          Spike Lee  16   340618771
5   Robert Rodriguez  16  1109899581
6       Ridley Scott  16  3189557997
7       Renny Harlin  15  1031500590
8  Steven Soderbergh  15  2114864443
9       Oliver Stone  14  1278048615

In [87]:
cursor.execute("pragma table_info('movies')")
movies = cursor.fetchall()
movies

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'original_title', 'VARCHAR', 0, None, 0),
 (2, 'budget', 'INTEGER', 0, None, 0),
 (3, 'popularity', 'INTEGER', 0, None, 0),
 (4, 'release_date', 'TEXT', 0, None, 0),
 (5, 'revenue', 'INTEGER', 0, None, 0),
 (6, 'title', 'TEXT', 0, None, 0),
 (7, 'vote_average', 'REAL', 0, None, 0),
 (8, 'vote_count', 'INTEGER', 0, None, 0),
 (9, 'overview', 'TEXT', 0, None, 0),
 (10, 'tagline', 'TEXT', 0, None, 0),
 (11, 'uid', 'INTEGER', 0, None, 0),
 (12, 'director_id', 'INTEGER', 1, '0', 0)]

In [90]:
cursor.execute('select title,release_date,budget,revenue,popularity,vote_average from movies inner join directors on directors.id = movies.director_id where name = "Steven Spielberg"')
data = cursor.fetchall()
data

[('Indiana Jones and the Kingdom of the Crystal Skull',
  '2008-05-21',
  185000000,
  786636033,
  75,
  5.7),
 ('The BFG', '2016-06-01', 140000000, 183345589, 44, 6.0),
 ('War of the Worlds', '2005-06-28', 132000000, 591739379, 48, 6.2),
 ('The Adventures of Tintin', '2011-10-25', 130000000, 371940071, 89, 6.7),
 ('Minority Report', '2002-06-20', 102000000, 358372926, 65, 7.1),
 ('A.I. Artificial Intelligence', '2001-06-29', 100000000, 235926552, 34, 6.8),
 ('The Lost World: Jurassic Park', '1997-05-23', 73000000, 229074524, 2, 6.2),
 ('The Terminal', '2004-06-17', 60000000, 219417255, 57, 7.0),
 ('Munich', '2005-12-22', 70000000, 130358911, 29, 6.9),
 ('Hook', '1991-12-11', 70000000, 300854823, 33, 6.6),
 ('War Horse', '2011-12-25', 66000000, 177584879, 29, 7.0),
 ('Saving Private Ryan', '1998-07-24', 70000000, 481840909, 76, 7.9),
 ('Lincoln', '2012-11-09', 65000000, 275293450, 36, 6.7),
 ('Jurassic Park', '1993-06-11', 63000000, 920100000, 40, 7.6),
 ('Catch Me If You Can', '2002-12-25', 52000000, 352114312, 73, 7.7),
 ('Indiana Jones and the Last Crusade',
  '1989-05-24',
  48000000,
  474171806,
  80,
  7.6),
 ('Bridge of Spies', '2015-10-15', 40000000, 165478348, 48, 7.2),
 ('Amistad', '1997-12-03', 36000000, 74000000, 3, 6.8),
 ('1941', '1979-12-13', 35000000, 31755742, 10, 5.6),
 ('Indiana Jones and the Temple of Doom',
  '1984-05-23',
  28000000,
  333000000,
  66,
  7.1),
 ("Schindler's List", '1993-11-29', 22000000, 321365567, 104, 8.3),
 ('Raiders of the Lost Ark', '1981-06-12', 18000000, 389925971, 68, 7.7),
 ('Close Encounters of the Third Kind',
  '1977-11-16',
  20000000,
  303788635,
  52,
  7.2),
 ('The Color Purple', '1985-12-18', 15000000, 146292009, 17, 7.7),
 ('Jaws', '1975-06-18', 7000000, 470654000, 50, 7.5),
 ('E.T. the Extra-Terrestrial', '1982-04-03', 10500000, 792910554, 56, 7.3),
 ('Twilight Zone: The Movie', '1983-06-24', 10000000, 29450919, 12, 6.2)]

In [92]:
pd.DataFrame(data,columns=["Title","Release_date","Budget","Revenue","Popularity","Vote_avg"])

,Title,Release_date,Budget,Revenue,Popularity,Vote_avg
0,Indiana Jones and the Kingdom of the Crystal S...,2008-05-21,185000000,786636033,75,5.7
1,The BFG,2016-06-01,140000000,183345589,44,6.0
2,War of the Worlds,2005-06-28,132000000,591739379,48,6.2
3,The Adventures of Tintin,2011-10-25,130000000,371940071,89,6.7
4,Minority Report,2002-06-20,102000000,358372926,65,7.1
5,A.I. Artificial Intelligence,2001-06-29,100000000,235926552,34,6.8
6,The Lost World: Jurassic Park,1997-05-23,73000000,229074524,2,6.2
7,The Terminal,2004-06-17,60000000,219417255,57,7.0
8,Munich,2005-12-22,70000000,130358911,29,6.9
9,Hook,1991-12-11,70000000,300854823,33,6.6
10,War Horse,2011-12-25,66000000,177584879,29,7.0
11,Saving Private Ryan,1998-07-24,70000000,481840909,76,7.9
12,Lincoln,2012-11-09,65000000,275293450,36,6.7
13,Jurassic Park,1993-06-11,63000000,920100000,40,7.6
14,Catch Me If You Can,2002-12-25,52000000,352114312,73,7.7
15,Indiana Jones and the Last Crusade,1989-05-24,48000000,474171806,80,7.6
16,Bridge of Spies,2015-10-15,40000000,165478348,48,7.2
17,Amistad,1997-12-03,36000000,74000000,3,6.8
18,1941,1979-12-13,35000000,31755742,10,5.6
19,Indiana Jones and the Temple of Doom,1984-05-23,28000000,333000000,66,7.1
20,Schindler's List,1993-11-29,22000000,321365567,104,8.3
21,Raiders of the Lost Ark,1981-06-12,18000000,389925971,68,7.7
22,Close Encounters of the Third Kind,1977-11-16,20000000,303788635,52,7.2
23,The Color Purple,1985-12-18,15000000,146292009,17,7.7
24,Jaws,1975-06-18,7000000,470654000,50,7.5
25,E.T. the Extra-Terrestrial,1982-04-03,10500000,792910554,56,7.3
26,Twilight Zone: The Movie,1983-06-24,10000000,29450919,12,6.2